{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ "Users"|_ }}{% endblock %}

{% block headerCSS %}
    <link href="{{ uri.base.path }}jtracker/pagination/css/pagination.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}jtracker/pagination/css/B_black.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}

    <h2>{{ "Users List"|_ }}</h2>

    {% if pagination.pagesTotal > 1 %}
        {{ pagination.bar|raw }}
        {{ sprintf(translate("Page %1$s of %2$s"), pagination.pageNo, pagination.pagesTotal) }}
    {% endif %}

    <table class="table table-bordered table-hover">
        <tr>
            <th>{{ "Username"|_ }}</th>
            {% if user.isAdmin %}
                <th style="width: 10%">{{ "Actions"|_ }}</th>
            {% endif %}
            <th>{{ "ID"|_ }}</th>
        </tr>
        {% for u in items %}
            <tr>
                <td><a href="{{ uri.base.path }}user/{{ u.id }}">{{ u.username }}</a></td>

                {% if user.isAdmin %}
                    <td>Block...</td>
                {% endif %}
                <td>{{ u.id }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if pagination.pagesTotal > 1 %}
        {{ sprintf(translate("Page %1$s of %2$s"), pagination.pageNo, pagination.pagesTotal) }}
        {{ pagination.bar|raw }}
    {% endif %}

{% endblock %}
