{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}Projects{% endblock %}

{% block prependMenu %}
    {% if user.isAdmin %}
        <li>
            <a class="btn-success" href="{{ uri.base.path }}project/add">
                {{ "New Project"|_ }}
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <h2>{{ "Projects List"|_ }}</h2>

    <table class="table table-bordered table-hover">

        <tr>
            <th>{{ "Tracker"|_ }}</th>
            <th>GitHub</th>
            <th style="width: 5%;">Stats</th>

            {% if user.isAdmin %}
                <th style="width: 5%;">Groups</th>
                <th style="width: 10%;">Actions</th>
            {% endif %}

            {% if jdebug %}
                <th style="width: 5%;">Id</th>
            {% endif %}
        </tr>

        {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ uri.base.path }}tracker/{{ project.alias }}">{{ project.title }}</a>
                </td>
                <td>
                    {% if project.gh_user %}
                        {% if user.isAdmin %}
                            <i class="icon-github"></i>
                            <a href="{{ uri.base.path }}project/{{ project.alias }}/hooks">Hooks</a>
                        {% endif %}
                        <i class="icon-github"></i>
                        <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}">
                            {{ project.gh_user }}/{{ project.gh_project }}
                        </a>
                    {% endif %}
                </td>

                <td>
                    <a href="{{ uri.base.path }}project/{{ project.alias }}/stats">Stats</a>
                </td>

                {% if user.isAdmin %}
                    <td>
                        <a href="{{ uri.base.path }}project/{{ project.alias }}/groups">Groups</a>
                    </td>
                    <td style="white-space: nowrap;">
                        <a href="{{ uri.base.path }}project/{{ project.alias }}">Show</a>
                        <a href="{{ uri.base.path }}project/{{ project.alias }}/edit">Edit</a>
                        <a href="{{ uri.base.path }}project/{{ project.alias }}/delete">Delete</a>
                    </td>
                {% endif %}

                {% if jdebug %}
                  <td>{{ project.project_id }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
