{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}Project{% endblock %}

{% block prependMenu %}
    <li>
        <a class="btn-success" href="javascript:;" onclick="document.editForm.submit();">
            {{ "Save"|_ }}
        </a>
    </li>
    {% if project.project_id %}
        <li>
            <a href="{{ uri.base.path }}project/{{ project.project_id }}/delete" class="btn-danger">
                {{ "Delete"|_ }}
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}
    {% if project.project_id %}
        <h2>{{ "Edit project"|_ }}</h2>
    {% else %}
        <h2>{{ "New project"|_ }}</h2>
    {% endif %}

    <form method="post" action="{{ uri.base.path }}saveproject" class="form-horizontal" name="editForm">
        <fieldset>
            <legend>{{ "Details"|_ }}</legend>
            <div class="control-group">
                <label class="control-label" for="title">{{ "Title"|_ }}</label>
                <div class="controls">
                    <input type="text" name="project[title]" id="title" value="{{ project.title }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="alias">{{ "Alias"|_ }}</label>
                <div class="controls">
                    <input type="text" name="project[alias]" id="alias" value="{{ project.alias }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="gh_user">{{ "GitHub Owner"|_ }}</label>
                <div class="controls">
                    <input type="text" name="project[gh_user]" id="gh_user" value="{{ project.gh_user }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="gh_project">{{ "GitHub Repo"|_ }}</label>
                <div class="controls">
                    <input type="text" name="project[gh_project]" id="gh_project" value="{{ project.gh_project }}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="ext_tracker_link">{{ "External Tracker Link"|_ }}</label>
                <div class="controls">
                    <input type="text" name="project[ext_tracker_link]" id="ext_tracker_link" value="{{ project.ext_tracker_link }}">
                </div>
            </div>

            <input type="hidden" name="project[project_id]" value="{{ project.project_id }}">

        </fieldset>
    </form>

{% endblock %}
