{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ "Project"|_ }}{% endblock %}

{% block headerText %}{{ "Project"|_ }}{% endblock %}

{% block content %}

    <h2>{{ project.title }}</h2>

    Some stuff about the Project here...

    <ul class="unstyled">
        {% if project.gh_user and project.gh_project %}
            <li>
                <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}">
                    {{ "GitHub"|_ }}
                </a>
            </li>
        {% endif %}
    </ul>

{% endblock %}
