{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | Project - {{ project.short_title }}{% endblock %}

{% block headerText %} - Project{% endblock %}

{% block content %}

    {% if user.check('admin') %}
        <div class="btn-group pull-right">
            <a class="btn btn-info" href="{{ uri.base.path }}project/{{ project.alias }}/edit">Edit</a>
            <a class="btn btn-danger" href="{{ uri.base.path }}project/{{ project.alias }}/delete">Delete</a>
        </div>
    {% endif %}

    <div class="page-header">
        <h1>{{ project.title }}</h1>
    </div>

    <p>
        <a class="btn btn-success" href="{{ uri.base.path }}tracker/{{ project.alias }}">
            {{ "Project %s Tracker"|format(project.title) }}
        </a>
    </p>

    <ul>
    {% if project.gh_user and project.gh_project %}
        <li>
            <i class="icon-github"></i>
            <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}">
                {{ "Project %s on GitHub"|format(project.gh_user ~ "/" ~ project.gh_project) }}
            </a>
        </li>
        <li>
            <a href="{{ uri.base.path }}project/{{ project.alias }}/stats">Statistics</a>
        </li>
    {% endif %}

    {% if user.check('admin') %}
        <li>
            <a href="{{ uri.base.path }}project/{{ project.alias }}/hooks">Hooks</a>
        </li>
    {% endif %}

    {% if user.check('manage') %}
        <li>
            <a href="{{ uri.base.path }}project/{{ project.alias }}/groups">Groups</a>
        </li>
        <li>
            <a href="{{ uri.base.path }}project/{{ project.alias }}/labels">Labels</a>
        </li>
        <li>
            <a href="{{ uri.base.path }}category/{{ project.alias }}">Categories</a>
        </li>
    {% endif %}
    </ul>
{% endblock %}
