{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "Projects"|_ }}{% endblock %}

{% block prependMenu %}
    {% if user.isAdmin %}
        <li>
            <a class="btn-success" href="{{ uri.base.path }}project/add">
                {{ "New Project"|_ }}
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ "Projects List"|_ }}</h1>
    </div>

    <table class="table table-bordered table-hover">
        <tr>
            <th>{{ "Tracker"|_ }}</th>
            <th><i class="icon-github"></i>&nbsp;{{ "GitHub"|_ }}</th>
            <th>{{ "Actions"|_ }}</th>

            {% if jdebug %}
                <th style="width: 5%;">{{ "ID"|_ }}</th>
            {% endif %}
        </tr>

        {% for project in projects %}
            <tr>
                <td>
                    <a href="{{ uri.base.path }}tracker/{{ project.alias }}">{{ project.title }}</a>
                </td>
                <td>
                    {% if project.gh_user %}
                        {% if user.isAdmin %}
                            <a href="{{ uri.base.path }}project/{{ project.alias }}/hooks">{{ "Hooks"|_ }}</a> |
                            <a href="{{ uri.base.path }}project/{{ project.alias }}/labels">{{ "Labels"|_ }}</a> |
                        {% endif %}
                        <a href="{{ uri.base.path }}project/{{ project.alias }}/stats">{{ "Stats"|_ }}</a> |
                        <i class="icon-github"></i>
                        <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}">
                            {{ project.gh_user }}/{{ project.gh_project }}
                        </a>
                    {% endif %}
                </td>

                    <td>
                        <a href="{{ uri.base.path }}project/{{ project.alias }}">{{ "Show"|_ }}</a>
                        | <a href="{{ uri.base.path }}activity/project/{{ project.alias }}">{{ "Project Activity"|_ }}</a>
                        | <a href="{{ uri.base.path }}activity/snapshot/{{ project.alias }}">{{ "Snapshot"|_ }}</a>
                        | <a href="{{ uri.base.path }}activity/user/{{ project.alias }}">{{ "User Activity"|_ }}</a>
                    {% if user.isAdmin %}
                        | <a href="{{ uri.base.path }}project/{{ project.alias }}/groups">{{ "Groups"|_ }}</a>
                        | <a href="{{ uri.base.path }}project/{{ project.alias }}/edit">{{ "Edit"|_ }}</a>
                        | <a href="{{ uri.base.path }}project/{{ project.alias }}/delete">{{ "Delete"|_ }}</a>
                    {% endif %}
                    </td>

                {% if jdebug %}
                  <td>{{ project.project_id }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
