{% extends 'index.twig' %}

{% block title %}
    {{ parent() }} | {{ item.article_id ? 'Edit Article' : 'New Article' }}
{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/markitup/skins/tracker/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/sets/markdown/style.css', 'debug') }}" />
{% endblock %}

{% block prependMenu %}
    <li>
        <a class="btn-success" href="#" id="save-article">Save</a>
    </li>
    <li>
        <a class="btn-inverse" href="{{ uri.base.path }}articles">Cancel</a>
    </li>
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ item.article_id ? 'Edit Article' : 'New Article' }}</h1>
    </div>

    <form method="post" action="{{ uri.base.path }}{% if item.article_id %}articles/{{ item.article_id }}{% else %}articles/create{% endif %}" class="form-horizontal" name="editForm" id="editForm">
        <div>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" name="title" id="title" value="{{ item.title }}" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="alias">Alias</label>
                    <div class="controls">
                        <input type="text" name="alias" id="alias" value="{{ item.alias }}" />
                    </div>
                </div>
            </fieldset>

           {% include 'editor.twig' with {'editorId': 'text', 'writeId': 'write', 'previewId': 'preview', 'editorName': 'text_md', 'editorPlaceholder': 'Article Text', 'editorText': item.text_md} %}
        </div>
    </form>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('markitup/jquery.markitup.js') }}"></script>
    <script src="{{ asset('css/markitup/sets/markdown/set.js') }}"></script>
    <script src="{{ asset('js/text/article-edit.js') }}"></script>
{% endblock %}
