{% extends 'index.twig' %}

{% block title %}{{ parent() }} | Articles{% endblock %}

{% block headerText %} - Articles{% endblock %}

{% block prependMenu %}
    {% if user.check("create") %}
        <li>
            <a class="nav-link bg-success" href="{{ uri.base.path }}articles/create">New Article</a>
        </li>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Articles List</h1>
    </div>

    <table class="table table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th>Title/Alias</th>
                <th style="width: 10%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for a in items %}
                <tr>
                    <td>
                        <a href="{{ uri.base.path }}articles/{{ a.article_id }}/edit">{{ a.title ? : '---' }} / {{ a.alias }}</a>
                    </td>
                    <td>
                        <a href="{{ uri.base.path }}page/{{ a.alias }}">View</a>
                        <a href="#" class="delete-article" data-id="{{ a.article_id }}">Delete</a>
                        <form id="delete-article-{{ a.article_id }}-form" method="post" action="{{ uri.base.path }}articles/{{ a.article_id }}/delete" class="visually-hidden"></form>
                    </td>
                </tr>
            {% else %}
                <tr class="warning">
                    <td colspan="2">No articles found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/text/articles-index.js') }}"></script>
{% endblock %}
