{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ item.username }}{% endblock %}

{% block content %}

    {% if 0 == item.id %}
        <div class="alert alert-error">
            <h4>{{ 'Invalid user!'|_ }}</h4>
        </div>
    {% else %}
        {% if user.id == item.id %}

            <a class="btn btn-small pull-right" href="{{ uri.base.path ~ 'user/' ~ user.id }}/refresh">
                {{ "Refresh profile from GitHub"|_ }}
            </a>

            <h1>{{ "My Profile"|_ }}</h1>
        {% else %}
            <h1>{{ "Profile"|_ }}</h1>
        {% endif %}

        <div class="row-fluid">
            <div class="span2">
                {{ avatar(item.username, 100)|raw }}
            </div>
            <div class="span5">
                <ul class="unstyled">
                    <li><h2>{{ item.username }}</h2></li>
                    {% if item.name %}
                        <li>{{ item.name }}</li>
                    {% endif %}
                    {% if item.email %}
                        <li>{{ item.email }}</li>
                    {% endif %}
                    {% if jdebug %}
                        <li><b>Id</b>: {{ item.id }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="span5">
                <ul class="unstyled">
                    <li>
                        <i class="icon-github"></i>
                        <a href="https://github.com/{{ item.username }}">{{ item.username }}</a>
                    </li>
                    {%  if item.params.language %}
                        <li>
                            {{ 'Language: %s'|_|format(item.params.language) }}
                        </li>
                    {% endif %}
                    {% if tz_offset %}
                        <li>
                            {{ 'Timezone: %1$s (GMT %2$s)'|_|format(item.params.timezone, tz_offset) }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    {% endif %}
{% endblock %}
