{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ "Edit Category"|_ }}{% endblock %}

{% block prependMenu %}
    <li>
        <a class="btn-success" href="javascript:;" onclick="document.editForm.submit();">
            {{ "Save"|_ }}
        </a>
    </li>

    {{ parent() }}

{% endblock %}

{% block content %}
    <h2>{{ "Category Edit"|_ }}</h2>

    <form method="post" action="{{ uri.base.path }}save_category" class="form-inline" name="editForm">
        <fieldset>
            <legend>{{ "Details"|_ }}</legend>

            <div class="control-group">
                <label class="control-label" for="title">{{ "Title"|_ }}</label>

                <div class="controls">
                    <input type="text" name="category[title]" id="title" value="{{ item.title }}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="alias">{{ "Alias"|_ }}</label>

                <div class="controls">
                    <input type="text" name="category[alias]" id="alias" value="{{ item.alias }}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="description">{{ "Description"|_ }}</label>

                <div class="controls">
                    <textarea name="category[description]" id="description" >{{ item.description }}</textarea>
                </div>
            </div>

            <input type="hidden" name="category[project_id]" value="{{ project.project_id }}"/>
            <input type="hidden" name="category[id]" id="id" value="{{ item.id }}" />

        </fieldset>
    </form>

{% endblock %}
