{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | Add Category{% endblock %}

{% block prependMenu %}
    <li>
        <a class="nav-link bg-success" href="javascript:;" onclick="document.editForm.submit();">Save</a>
    </li>

    {{ parent() }}

{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>New Category</h1>
    </div>

    <form method="post" action="{{ uri.base.path }}category/save" class="form-inline" name="editForm">
        <fieldset>
            <legend>Details</legend>

            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="category[title]" id="title"/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="alias">Alias</label>
                <input class="form-control" type="text" name="category[alias]" id="alias"/>
            </div>

            <div class="mb-3">
                <label class="form-label" for="color_display">Colour</label>
                <input class="color_select" id="color"/>
                <input class="form-control" type="text" name="category[color]" id="color_display"/>
            </div>

            <input type="hidden" name="category[project_id]" value="{{ project.project_id }}"/>

        </fieldset>
    </form>

{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/color-select.js', 'debug') }}"></script>
{% endblock %}
