{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% extends "index.twig" %}

{% import "tpl/activities.twig" as activities %}

{% block title %}{{ parent() }} | {{ project.title }} #{{ item.issue_number }} - {{ item.title }}{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    {# If in debug mode, load each file individually, otherwise use the combined source loaded by the template #}
    {% if templateDebug %}
    <link rel="stylesheet" href="{{ asset('css/vendor/blueimp-file-upload/css/jquery.fileupload.css', 'noversion') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/blueimp-file-upload/css/jquery.fileupload-ui.css', 'noversion') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/jquery.atwho/dist/css/jquery.atwho.css', 'noversion') }}" />
    {% endif %}

    <!-- CSS for coloured code -->
    <link rel="stylesheet" href="{{ asset('css/code.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/diff.css', 'debug') }}" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/markitup/skins/markitup/style.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/sets/markdown/style.css', 'debug') }}" />

    <style type="text/css">
        a:target {
            /* Anchor links in events and fixed top bar */
            padding-top: 120px;;
        }
        .tests-success, .tests-1 {
            color: green;
        }
        .tests-fail, .tests-2 {
            color: red;
        }
        .testForm {
            background-color: #f5f5f5;
            padding: 8px 15px;
            display: none;
        }
        .highlightRow {
            background-color: #f5f5f5;
            padding: 8px 15px;
            border-radius: 4px;
        }
        .help-icon {
            cursor: help;
        }
    </style>
{% endblock %}

{% block content %}

    {% if not item or item.issue_number == 0 %}
        <div class="alert alert-danger">
            {{ 'That issue does not exist, or the ID you typed is incorrect.'|_ }}
        </div>
    {% else %}
        <div class="page-header">
            <a class="btn pull-right"
               href="{{ uri.base.path }}tracker/{{ project.alias }}/random">{{ 'Feeling Lucky'|_ }}
            </a>

            <h1>[#{{ item.issue_number }}] - {{ item.title }}</h1>
        </div>

    <!-- Status bar -->

    <span class="pull-right">{{ item.labels|labels|raw }}</span>

    <ul class="breadcrumb">

        {% if user.check("edit") or canEditOwn %}
            <li>
                <a class="btn btn-warning"
                   href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/' ~ item.issue_number ~ '/edit' }}">
                    {{ "Edit"|_ }}
                </a>
            </li>
        {% endif %}

        <li>
            <span class="badge badge-{{ item.closed ? "important" : "success" }}">
                {{ item.status_title|_ }}
            </span>
        </li>

        {% if item.closed %}
            <li>{{ item.closed_date|date("j M Y", offset) }}</li>
            <!-- @todo SHA link -->
            {% if item.closed_sha %}
                <li>SHA: <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ item.closed_sha }}">{{ item.closed_sha }}</a></li>
            {% endif %}
        {% endif %}

        <li>
            <span class="badge {{ prioClass(item.priority) }}">
                {{ getPriority(item.priority) }}
            </span>
        </li>

        {% if item.build %}
            <li>
                <span class="badge">
                    {{ "Build"|_ }}: {{ item.build }}
                </span>
            </li>
        {% endif %}

        {% if item.easy %}
            <li>
                <span class="badge badge-success">
                    {{ "Easy Test"|_ }}
                </span>
            </li>
        {% endif %}

        {% if item.tests %}
            <li>
                <span class="badge">
                    {{ "# of Successful Tests"|_ }}: {{ item.tests }}
                </span>
            </li>
        {% endif %}

        {% if user.id %}
            <li>
                &nbsp;
                <a href="#write">
                    <span class="octicon octicon-comment"></span>
                    {{ "To comment"|_ }}
                </a>
            </li>
        {% endif %}

        {% if project.gh_user and project.gh_project %}
            <li>
                &nbsp;
                <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/issues/' ~ item.issue_number }}"
                   target="_blank" title="{{ 'View this issue on GitHub'|_ }}">
                    <span class="octicon octicon-mark-github"></span>
                    # {{ item.issue_number }}
                </a>
            </li>

            {% if item.has_code %}
                <li>
                    &nbsp;
                    <a href="https://patch-diff.githubusercontent.com/raw/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/pull/' ~ item.issue_number }}.diff"
                       target="_blank" title="{{ 'View a plain diff for this pull request'|_ }}">
                        <span class="octicon octicon-diff"></span>
                        {{ 'Diff'|_ }}
                    </a>
                </li>
            {% endif %}

            {% if item.pr_head_ref %}
                {% if 'unknown_repository' == item.pr_head_user %}
                    <li>
                        &nbsp;
                        <span class="octicon octicon-repo-forked"></span>
                        unknown repository
                    </li>
                {% else %}
                    <li>
                        &nbsp;
                        <a href="https://github.com/{{ item.pr_head_user ~ '/'  ~ project.gh_project ~ '/archive/' ~ item.pr_head_ref ~ '.zip' }}"
                           title="{{ 'Download this fork as a ZIP file'|_ }}">
                            <span class="octicon octicon-repo-forked"></span>
                            {{ item.pr_head_user ~ ':' ~ item.pr_head_ref }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

        {% endif %}

        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                   target="_blank">
                    {{ "Foreign ID"|_ }}
                    {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}
    </ul>

<!-- Merge Status -->
    {% if item.merge_state %}
        <h4>{{ item.merge_state|mergeBadge|raw }}</h4>
        <ul class="unstyled">
            {% if item.gh_merge_status is iterable %}
                {% for status in item.gh_merge_status %}
                    <li>
                        {{ status.state|mergeBadge|raw }}
                        <strong>{{ status.context }}</strong>
                        {{ status.description }}
                        <a href="{{ status.targetUrl }}" title="{{ status.context }}">
                            {{ 'Details'|_ }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    {{ item.merge_state|mergeBadge|raw }}
                    {% if item.gh_merge_status.description %}
                        {{ item.gh_merge_status.description }}
                    {% endif %}
                    {% if item.gh_merge_status.targetUrl %}
                        <a href="{{ item.gh_merge_status.targetUrl }}">
                            {{ 'Details'|_ }}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    {% endif %}

<!-- Categories -->
    {% if item.categories %}
        <ul class="breadcrumb">
            <li>
                <strong>{{ 'Categories:'|_ }}</strong>
            </li>

                {% for category in item.categories %}
                    <li>
                    <a href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/?category=' ~ category.alias }}">
                        <span class="label" style="background-color:#{{ category.color }};color:{{ getContrastColor(category.color) }}">
                            {{ category.title }}
                        </span>
                    </a>
                    </li>
                {% endfor %}
        </ul>
    {% endif %}

<!-- Relations -->
    {% if item.rel_number %}
        <div class="alert">
            {{ relation(item.rel_name) }}
            {{ issueLink(item.rel_number, false, item.rel_title)|raw }}
        </div>
    {% endif %}

    {% if item.relations_f %}
        <div class="alert">
            {{ "Referenced as"|_ }}
            {% for rel_name, relations in item.relations_f %}
                <strong>{{ relation(rel_name) }}: </strong>
                {% for relation in relations %}
                    {{ issueLink(relation.issue_number, relation.closed, relation.title)|raw }}
              {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Milestones -->
    {% if item.milestone_title %}
    <ul class="breadcrumb">
        <li>
            <strong>{{ item.milestone_title }}</strong>
        </li>
    </ul>
    {% endif %}

    <!-- Tests -->

    {% if item.has_code %}

        <p class="highlightRow">
            {% if user.id or user.check('edit') %}
                <span class="btn-group">
                    {% if user.id %}
                        <span class="btn btn-primary" onclick="$('#testAlterContainer').slideUp();$('#testContainer').slideToggle();">
                            {{ 'Test this'|_ }}
                        </span>
                    {% endif %}
                    {% if user.check('edit') %}
                        <span class="btn btn-warning" onclick="$('#testContainer').slideUp();$('#testAlterContainer').slideToggle();">
                            {{ 'Alter test'|_ }}
                        </span>
                    {% endif %}
                </span>
            {% endif %}
            <strong>{{ 'User tests:'|_ }}</strong>
            {{ 'Successful: %s'|_|format('<span id="usertests-success-num" class="tests-success"></span>')|raw }}
            <span id="usertests-success" class="tests-success"></span>
            {{ 'Unsuccessful: %s'|_|format('<span id="usertests-fail-num" class="tests-fail"></span>')|raw }}
            <span id="usertests-fail" class="tests-fail"></span>
        </p>

        {% if user.id %}
            {% include "testcontainer.twig" %}
        {% endif %}

    {% endif %}

    <!-- Main content -->

    <div class="row-fluid">
        <div class="span2 well-small user-wrapper">
            {{ avatar(item.opened_by, '', 'avatar')|raw }}<br />
            {% if item.user_id %}
                <span class="icon-user"></span>
                <a href="{{ uri.base.path ~ 'user/' ~ item.user_id}}">{{ item.opened_by }}</a>
            {% else %}
                <span class="icon-github"></span>
                <a href="https://github.com/{{ item.opened_by }}" target="_blank">{{ item.opened_by }}</a>
            {% endif %}<br />
            <span class="icon-calendar"></span> {{ item.opened_date|date("j M Y", offset) }}
        </div>

        {% if item.votes or user.id %}
            {% set mainClass = 'span7' %}
        {% else %}
            {% set mainClass = 'span10' %}
        {% endif %}

        <div class="{{ mainClass }} well-small issue-description">
            {{ item.description|raw }}
        </div>

        {% if item.votes or user.id %}
        <div class="span3 well">

            {% if item.votes or user.id %}
            <h4>{{ 'Votes'|_ }}</h4>
            {% endif %}

            {% set displayVotes = ' style="display: none"' %}
            {% if item.votes %}
                {% set displayVotes = '' %}
            {% endif %}

            <div id="issue-votes"{{ displayVotes|raw }}>
                <div class="row-fluid">
                    <div class="span10"><b>{{ "# of Users Experiencing Issue"|_ }}</b></div>
                    <div id="experienced" class="span2">{{ item.experienced }}/{{ item.votes }}</div>
                </div>
                <div class="row-fluid">
                    <div class="span10"><b>{{ "Average Importance Score"|_ }}</b></div>
                    <div id="importance" class="span2">{{ item.importanceScore|number_format(2) }}</div>
                </div>
                <hr class="issue-votes" />
            </div>

            {% if user.id %}
            <form class="form-inline scores-report" name="voteForm">
                <fieldset>
                    <p>{{ "I've experienced this issue"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosYes" value="1">
                        {{ "Yes"|_ }}
                    </label>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosNo" value="0" checked>
                         {{ "No"|_ }}
                    </label>
                </fieldset>
                <hr class="issue-votes" />
                <fieldset>
                    <p>{{ "Importance of issue to me"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios1" value="1">
                        1
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios2" value="2">
                        2
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios3" value="3" checked>
                        3
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios4" value="4">
                        4
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios5" value="5">
                        5
                    </label>
                </fieldset>
                <hr class="issue-votes" />
                <div id="voteResult"></div>
                <a href="javascript:" class="btn btn-primary" id="voteButton" onclick="JTracker.submitVote('{{ item.id }}', '#voteResult');">
                    {{ "Vote"|_ }}
                </a>
            </form>
            {% endif %}
        </div>
        {% endif %}
    </div>

    <!-- Activity stream -->

    <div class="well-small" style="font-size: 32px;" data-icon="&#xe010;" aria-hidden="true"></div>

    {% set activitiesCnt = 0 %}
    {% for activity in item.activities %}
        <div id="event-{{ activity.activities_id }}">
            <div class="row-fluid">
            {% if 'test_item' == activity.event %}
                {% set change = activity.text|json_decode %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-person"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M Y", offset) }}</span>
                    - <span class="tests-{{ change }}">{{ userTestOptions(change) }}</span>
                </div>
            {% elseif 'alter_testresult' == activity.event %}
                {% set change = activity.text|json_decode %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-eye"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M Y", offset) }}</span>
                    - <b>{{ change.user }}</b>: <span class="tests-{{ change.value }}">{{ userTestOptions(change.value) }}</span>
                </div>
            {% elseif 'commit' == activity.event %}
                <div class="offset1 span11">
                    <span class="pull-right">
                        <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ activity.activities_id }}">
                            {{ activity.activities_id|slice(0, 7) }}
                        </a>
                        <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}">{{ activity.created_date|date("j M Y", offset) }} <i class="icon-calendar" style="cursor: help"></i></span>
                    </span>
                    <i class="octicon octicon-git-commit" title="{{ 'Git commit' }}"></i>
                    <span title="{{ activity.user }}">
                        {{ avatar(activity.user, 20, 'avatar')|raw }}
                    </span>
                    <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ activity.activities_id }}">
                        {{ activity.text }}
                    </a>
                </div>
            {% elseif 'assigned' == activity.event or 'unassigned' == activity.event %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-person"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                </div>
            {% elseif 'reference' == activity.event %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-git-commit"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    | <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ activity.text }}">
                        {{ activity.text|slice(0, 7) }}
                    </a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                </div>
            {% elseif 'locked' == activity.event or 'unlocked' == activity.event %}
                <div class="offset1 span9 activity-action">
                    {% if 'locked' == activity.event %}
                        <i class="octicon octicon-lock"></i>
                    {% elseif 'unlocked' == activity.event %}
                        <i class="octicon octicon-key"></i>
                    {% endif %}
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                </div>
            {% elseif 'change' == activity.event %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-gear"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M Y", offset) }}</span>
                </div>
                <div class="row-fluid">
                    <div class="offset1 span9">
                        {% if "change" == activity.event %}
                            <table class="table">
                            {% for change in activity.text|json_decode %}
                                {% if 'status' == change.name %}
                                    {{ activities.status(change.old, change.new) }}
                                {% elseif 'title' == change.name %}
                                    {% set activitiesCnt = activitiesCnt + 1 %}
                                    {{ activities.title(change.old, change.new, activitiesCnt) }}
                                {% elseif 'description_raw' == change.name%}
                                    {% if user.check('edit') %}
                                        {% set activitiesCnt = activitiesCnt + 1 %}
                                        {{ activities.description(change.old, change.new, activitiesCnt) }}
                                    {% else %}
                                        {{ 'The description was changed'|_ }}
                                    {% endif %}
                                {% elseif 'priority' == change.name %}
                                    {{ activities.priority(change.old, change.new) }}
                                {% elseif 'labels' == change.name %}
                                    {{ activities.labels(change.old, change.new) }}
                                {% elseif 'easy' == change.name %}
                                    {{ activities.easy(change.old, change.new) }}
                                {% elseif 'rel_type' == change.name %}
                                    {{ activities.relationType(change.old, change.new) }}
                                {% elseif 'category' == change.name %}
                                    {{ activities.category(change.old, change.new) }}
                                {% elseif 'milestone_id' == change.name %}
                                    {{ activities.milestone(change.old, change.new) }}
                                {% else %}
                                    {{ activities.change(change.name, change.old, change.new) }}
                                {% endif %}
                            {% endfor %}
                            </table>
                        {% else %}
                            {{ activity.text|raw }}
                        {% endif %}
                    </div>
                </div>
            {% elseif activity.text != '' %}
                {# Comment #}
                <div class="span1 activity-avatar">
                    {{ avatar(activity.user, 40, 'avatar')|raw }}
                </div>
                <div class="span11 activity-comment">
                    <div class="well well-small">
                        <b>{{ activity.user }}</b>
                        - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                        - <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M Y", offset) }}</span>
                    </div>
                    <div style="margin: 10px;">
                        {{ activity.text|raw }}
                    </div>
                </div>
            {% elseif activity.event != 'synchronize' %}
                <div class="offset1 span9">
                    <i class="octicon octicon-pulse"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s", offset) }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M Y", offset) }}</span>
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}

    <div id="newComment"></div>

    <!-- Add form -->

    <h4>
        {{ "Add a Comment"|_ }}
    </h4>

    {% if user.id %}
        {% if user.check("create") or user.check("manage") %}
            <div class="row-fluid">
                <div class="span1 well-small">
                    {{ avatar(user.username, '', 'avatar')|raw }}
                </div>
                <div class="span11">
                    {% set editorId="comment" %}
                    {% set writeId="write" %}
                    {% set previewId="preview" %}
                    {% set editorPlaceholder="Leave a comment"|_ %}
                    {% include "editor.twig" %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="pull-right comment-wrapper">
                    <div id="commentStatus"></div>
                    <a href="javascript:" class="btn btn-success"
                       onclick="JTracker.submitComment('{{ item.issue_number }}', '#commentStatus', '#newComment', 'tplNewComment', '#shaTest');">
                        {{ "Post Comment"|_ }}
                    </a>
                </div>
            </div>

            <div class="row-fluid">
                <div class="offset2 span10">
                    {% include "uploader.full.twig" %}
                </div>
            </div>
        {% else %}
            {# The user is not authorized #}
        {% endif %}

    {% else %}
        <a class="btn btn-success" href="{{ loginUrl }}">{{ "Login with GitHub to post a comment"|_ }}</a>
    {% endif %}

    <ul class="pager">
        <li class="previous{% if not item.previousIssue %} disabled{% endif %}">
            <a href="{% if item.previousIssue %}{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.previousIssue }}{% else %}#{% endif %}"><i class="icon-arrow-left"></i> {{ "Older"|_ }}</a>
        </li>
        <li class="next{% if not item.nextIssue %} disabled{% endif %}">
            <a href="{% if item.nextIssue %}{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.nextIssue }}{% else %}#{% endif %}">{{ "Newer"|_ }} <i class="icon-arrow-right"></i></a>
        </li>
    </ul>

    {% endif %}

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplNewComment">
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="span1 activity-avatar">
                    {{ avatar(user.username, 40, 'avatar')|raw }}
                </div>
                <div class="span11 activity-comment">
                    <div class="well well-small">
                        <b>{{ user.username }}</b>
                        - <a href="/{{ uri.route }}#event-[%= o.activities_id %]">comment</a>
                        - <span title="[%= o.created_at %]"><i class="icon-calendar"></i>[%= o.created_at %]</span>
                    </div>
                    <div style="margin: 10px;">
                        [%# o.text %]
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="tplNewTestResult">
        [% var resultValues = ['{{ userTestOptions(0) }}', '{{ userTestOptions(1) }}', '{{ userTestOptions(2) }}']; %]
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="offset1 span11 activity-action">
                    <i class="octicon octicon-person"></i>
                    {{ avatar(user.username, 20, 'avatar')|raw }}
                    <b>{{ user.username }}</b>
                    - <a name="event-[%= o.activities_id %]" href="/{{ uri.route }}#event-[%= o.activities_id %]">[%= o.event %]</a>
                    - [%= o.created_date %]
                    - <span class="tests-[%= o.text %]">[%= resultValues[o.text] %]</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="tplNewAlterTestResult">
        [% var resultValues = ['{{ userTestOptions(0) }}', '{{ userTestOptions(1) }}', '{{ userTestOptions(2) }}']; %]
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="offset1 span11 activity-action">
                    <i class="octicon octicon-eye"></i>
                    {{ avatar(user.username, 20, 'avatar')|raw }}
                    <b>{{ user.username }}</b>
                    - <a name="event-[%= o.activities_id %]" href="/{{ uri.route }}#event-[%= o.activities_id %]">[%= o.event %]</a>
                    - [%= o.created_date %]
                    - [%= o.text.user + ': ' + resultValues[o.text.value] %]
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    {# If in debug mode, load each file individually, otherwise use the combined source loaded by the template #}
    {% if templateDebug %}
    <script src="{{ asset('js/vendor/markitup/markitup/jquery.markitup.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-tmpl/js/tmpl.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-canvas-to-blob/js/canvas-to-blob.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image/js/load-image.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image/js/load-image-orientation.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image/js/load-image-meta.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image/js/load-image-exif.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image/js/load-image-exif-map.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.iframe-transport.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.fileupload.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.fileupload-process.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.fileupload-image.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.fileupload-ui.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload/js/jquery.fileupload-validate.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/jquery-textrange/jquery-textrange.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/Caret.js/src/jquery.caret.js', 'noversion') }}"></script>
    <script src="{{ asset('js/vendor/jquery.atwho/dist/js/jquery.atwho.js', 'noversion') }}"></script>
    {% endif %}

    <script src="{{ asset('css/markitup/sets/markdown/set.js', 'debug') }}"></script>
    <script src="{{ asset('js/jtracker-tmpl.js', 'debug') }}"></script>
    <script src="{{ asset('js/uploader-img.js', 'debug') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#comment').markItUp(myMarkdownSettings);
            $('#commentTest').markItUp(myMarkdownSettings);

            JTracker.updateTests(
                {{ item.testsSuccess ? ("['" ~ item.testsSuccess|join("', '") ~ "']")|raw : '[]' }},
                {{ item.testsFailure ? ("['" ~ item.testsFailure|join("', '") ~ "']")|raw : '[]'}}
            );
        });

        $('a[data-toggle="tab"]').on('shown', function (e)
        {
            if ('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#comment', '#preview');
            }
            if ('#previewTest' == $(e.target).attr('href')) {
                JTracker.preview('#commentTest', '#previewTest');
            }
        });

        $('#comment').focus(function() {
            $('input[name="editorId"]').val(this.id);
        });

        JTracker.setupAtJS('comment', '{{ project.alias }}');
        JTracker.setupAtJS('commentTest', '{{ project.alias }}');

    </script>

{% endblock %}
