{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ project.title ~ ' #' ~ item.issue_number }}{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/vendor/blueimp-file-upload.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-select.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/jquery.atwho.css') }}" />

    <!-- CSS for coloured code -->
    <link rel="stylesheet" href="{{ asset('css/code.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/skins/tracker/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/sets/markdown/style.css', 'debug') }}" />

    <style type="text/css">
        .testForm {
            background-color: #f5f5f5;
            padding: 8px 15px;
            display: none;
        }
        @media (prefers-color-scheme: dark) {
            .testForm {
                background-color: var(--bs-light-bg-subtle);
            }
        }
        .tests-success {
            color: green;
        }
        .tests-fail {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    {% import "fields.twig" as fields %}

    <div class="page-header">
        <h1>{{ project.title }} #{{ item.issue_number }}</h1>
    </div>

    <!-- Status bar -->

    <ul class="breadcrumb">
        <li>
            <a class="btn btn-success" href="javascript:" id="submit">Save</a>
        </li>
        {% if item.has_code %}
        <li>
             <a class="btn btn-danger" href="javascript:" onclick="$('#testAlterContainer').slideUp();$('#testContainer').slideToggle();">Test this</a>
        </li>
        <a class="btn btn-warning" href="javascript:" onclick="$('#testContainer').slideUp();$('#testAlterContainer').slideToggle();">Alter test</a>
        {% endif %}
        <li>
            <a class="btn btn-dark" href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/' ~ item.issue_number }}">Cancel</a>
        </li>

        {% if project.gh_user and project.gh_project %}
            <li>
                <span aria-hidden="true" class="fab fa-github"></span>
                <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/issues/' ~ item.issue_number }}" target="_blank" class="external">GitHub #{{ item.issue_number }}</a>
            </li>
        {% endif %}
        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}" target="_blank">
                    Foreign ID {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}

        <li>
            {{ "%1$s opened this ticket on %2$s"|format(item.opened_by, item.opened_date|date("j M Y")) }}
        </li>
    </ul>

    {% if item.has_code %}
        {% include "testcontainer.twig" %}
    {% endif %}

    <div class="alert alert-danger" style="display: none"></div>

    <form method="post" action="/{{ uri.route }}-save" class="form-inline" name="editForm" id="issueForm">

    {% if user.check('edit') %}
        {# Show only if the user has *full*^edit rights - e.g. not "edit own" #}
        <div class="edit-issue-form row gx-0 mb-3">
            <label for="status" class="col-md-1 col-form-label text-md-end">Status</label>
            <div class="col-md-2">
                <select name="item[status]" id="status" class="form-select">
                    {% for key, value in statuses_by_state() %}
                        <option {{ key == item.status ? "selected='selected'" : ""  }} value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="priority" class="col-md-1 col-form-label text-md-end">Priority</label>
            <div class="col-md-2">
                <select name="item[priority]" id="priority" class="form-select">
                    {% for key, value in issue_priorities() %}
                        <option {{ key == item.priority ? "selected='selected'" : ""  }} value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="rel_type" class="col-md-1 col-form-label text-md-end">Item</label>
            <div class="col-md-2">
                <select name="item[rel_type]" id="rel_type" class="form-select">
                    <option value="0"></option>
                    {% for relType in issue_relation_types() %}
                        {% set selected = item.rel_type == relType.value ? 'selected="selected"' : '' %}
                        <option {{ selected }} value="{{ relType.value }}">{{ issue_relation(relType.text) }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="rel_number" class="col-md-1 col-form-label text-md-end">#</label>
            <div class="col-md-2">
                <input name="item[rel_number]" id="rel_number" type="text" class="form-control w-50" value="{{ item.rel_number }}" />
            </div>
        </div>

        <ul class="breadcrumb">
            <li>
                <label for="build">Build</label>
                <input name="item[build]" id="build" type="text" class="col-md-1 form-control validateBuild" value="{{ item.build }}" />
            </li>
            {% if item.has_code %}
                <li>
                    <label for="easy">Easy test</label>
                    <select name="item[easy]" id="easy" class="form-select col-md-1">
                        <option {{ 0 == item.easy ? "selected='selected'" : ""  }} value="0">{{ '0'|yesno }}</option>
                        <option {{ 1 == item.easy ? "selected='selected'" : ""  }} value="1">{{ '1'|yesno }}</option>
                    </select>
                </li>
            {% endif %}
            {% if project.categories %}
                <li>
                    {{ fields.label('categories[]', 'Categories') }}
                    {{ fields.selectCategories('categories[]', project.categories, item.categoryids) }}
                </li>
            {% endif %}

            {% if user.check('edit') %}

                {% if project.labels %}
                    <li>
                        {{ fields.label('labels', 'Labels') }}
                        {{ fields.selectLabels('item[labels][]', project.labels, item.labels|split(',') , 'labels') }}
                    </li>
                {% endif %}

                {% if project.milestones %}
                    <li>
                        {{ fields.label('item[milestone_id]', 'Milestone') }}
                        {{ fields.selectMilestone('item[milestone_id]', project.milestones, item.milestone_id) }}
                    </li>
                {% endif %}

            {% endif %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-md-11 p-2">
            <ul class="list-unstyled">
                <li style="padding-bottom: 10px">
                    <label for="title">Title</label>
                    <input name="item[title]" id="title" type="text"
                    style="width: 80%; font-size: 1.2em;"
                    value="{{ item.title }}"
                    class="validateTitle" />
                </li>
                <li>
                    {% set editorId="description" %}
                    {% set previewId="previewDesc" %}
                    {% set writeId="writeDesc" %}
                    {% set editorClass="validateDescription" %}
                    {% set editorName="item[description_raw]" %}
                    {% set editorText=item.description_raw %}
                    {% set editorPlaceholder="Description text" %}

                    {% include "editor.twig" %}
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-11 p-2">
                <h4>Add a Comment</h4>

                {% set editorId="comment" %}
                {% set previewId="previewComment" %}
                {% set writeId="writeComment" %}
                {% set editorClass="" %}
                {% set editorName="comment" %}
                {% set editorText='' %}
                {% set editorPlaceholder="Leave a comment" %}

                {% include "editor.twig" %}
                <a class="float-end btn btn-success" href="javascript:" id="submit-bottom">Save</a>
            </div>
        </div>

        <input type="hidden" name="item[id]" value="{{ item.id }}">
        <input type="hidden" name="item[issue_number]" value="{{ item.issue_number }}">

    </div>

    </form>

    <div class="row">
        <div class="offset-md-1 col-md-10">
            {% include "uploader.full.twig" %}
        </div>
    </div>

    <script type="text/x-tmpl" id="tplNewTestResult">
    </script>

    <script type="text/x-tmpl" id="tplNewAlterTestResult">
    </script>

{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('markitup/jquery.markitup.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-validation.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-canvas-to-blob.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-textrange.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-select.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.caret.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.atwho.js') }}"></script>

    <script src="{{ asset('css/markitup/sets/markdown/set.js', 'debug') }}"></script>
    <script src="{{ asset('js/jtracker-tmpl.js', 'debug') }}"></script>
    <script src="{{ asset('js/validation/jtracker-rules.js', 'debug') }}"></script>
    <script src="{{ asset('js/uploader-img.js', 'debug') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#description').markItUp(myMarkdownSettings);
            $('#comment').markItUp(myMarkdownSettings);
            $('#commentTest').markItUp(myMarkdownSettings);
            $('.selectpicker').selectpicker();
        });

        $('#description').focus(function() {
            $('input[name="editorId"]').val(this.id);
        });

        $('#comment').focus(function() {
            $('input[name="editorId"]').val(this.id);
        });

        document.querySelectorAll('a[data-bs-toggle="tab"]').forEach((el) => {
            el.addEventListener('shown.bs.tab', (event) => {
                if ('#previewDesc' == $(e.target).attr('href')) {
                    JTracker.preview('#description', '#previewDesc');
                }

                if ('#previewComment' == $(e.target).attr('href')) {
                    JTracker.preview('#comment', '#previewComment');
                }

                if ('#previewTest' == $(e.target).attr('href')) {
                    JTracker.preview('#commentTest', '#previewTest');
                }
            })
        });

        // Validate and submit form
        var form = $('#issueForm');

        form.validate({
            errorElement: "span",
            invalidHandler: function(event, validator) {
                var e = $('div.alert-danger');

                if (validator.numberOfInvalids()) {
                    e.html('Some fields are invalid. They have been highlighted.');
                    e.show();
                } else {
                    e.hide();
                }
            }
        });

        $('#submit').click(function() {
            if (form.valid()) {
                $('#submit').html('Saving...');
            }
            form.submit();
        });

        $('#submit-bottom').click(function() {
            if (form.valid()) {
                $('#submit-bottom').html('Saving...');
            }
            form.submit();
        });

        JTracker.setupAtJS('description', '{{ project.alias }}');
        JTracker.setupAtJS('comment', '{{ project.alias }}');
        JTracker.setupAtJS('commentTest', '{{ project.alias }}');

    </script>
{% endblock %}
