{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% extends "index.twig" %}

{% import "tpl/activities.twig" as activities %}

{% block title %}{{ project.title }} #{{ item.issue_number }} - {{ item.title }}{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <!-- CSS for coloured code -->
    <link href="{{ uri.base.path }}jtracker/core/css/code.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}jtracker/core/css/diff.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}jtracker/markitup/skins/markitup/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}jtracker/markitup/sets/markdown/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}vendor/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet" >
    <link href="{{ uri.base.path }}vendor/blueimp-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" >
    <link href="{{ uri.base.path }}vendor/jquery.atwho/dist/css/jquery.atwho.css" rel="stylesheet" media="screen">
    <style type="text/css">
        a:target {
            /* Anchor links in events and fixed top bar */
            padding-top: 120px;;
        }
        .tests-success, .tests-1 {
            color: green;
        }
        .tests-fail, .tests-2 {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}

    {% if not item or item.issue_number == 0 %}
        <div class="alert alert-danger">
            {{ 'That issue does not exist, or the ID you typed is incorrect.'|_ }}
        </div>
    {% else %}

        <a class="btn pull-right"
           href="{{ uri.base.path }}tracker/{{ project.alias }}/random">{{ 'Feeling Lucky'|_ }}
        </a>

        <h2>[#{{ item.issue_number }}] - {{ item.title }}</h2>

    <!-- Status bar -->

    <span class="pull-right">{{ item.labels|labels|raw }}</span>

    <ul class="breadcrumb">

        {% if user.check("edit") or canEditOwn %}
            <li>
                <a class="btn btn-warning"
                   href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/' ~ item.issue_number ~ '/edit' }}">
                    {{ "Edit"|_ }}
                </a>
            </li>
        {% endif %}

        <li>
            <span class="badge badge-{{ item.closed ? "important" : "success" }}">
                {{ item.status_title|_ }}
            </span>
        </li>

        {% if item.closed %}
            <li>{{ item.closed_date|date("j M y") }}</li>
            <!-- @todo SHA link -->
            {% if item.closed_sha %}
                <li>SHA: {{ item.closed_sha }}</li>
            {% endif %}
        {% endif %}

        <li>
            <span class="badge {{ prioClass(item.priority) }}">
                {{ getPriority(item.priority) }}
            </span>
        </li>

        {% if item.build %}
            <li>
                <span class="badge">
                    {{ "Build"|_ }}: {{ item.build }}
                </span>
            </li>
        {% endif %}

        {% if item.easy %}
            <li>
                <span class="badge badge-success">
                    {{ "Easy Test"|_ }}
                </span>
            </li>
        {% endif %}

        {% if item.tests %}
            <li>
                <span class="badge">
                    {{ "# of Successful Tests"|_ }}: {{ item.tests }}
                </span>
            </li>
        {% endif %}

        {% if user.id %}
            <li>
                &nbsp;
                <a href="#write">
                    <span class="octicon octicon-comment"></span>
                    {{ "To comment"|_ }}
                </a>
            </li>
        {% endif %}

        {% if project.gh_user and project.gh_project %}
            <li>
                &nbsp;
                <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/issues/' ~ item.issue_number }}"
                   target="_blank" title="{{ 'View this issue on GitHub'|_ }}">
                    <span class="octicon octicon-mark-github"></span>
                    # {{ item.issue_number }}
                </a>
            </li>

            {% if item.has_code %}
                <li>
                    &nbsp;
                    <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/pull/' ~ item.issue_number }}.diff"
                       target="_blank" title="{{ 'View a plain diff for this pull request'|_ }}">
                        <span class="octicon octicon-diff"></span>
                        {{ 'Diff'|_ }}
                    </a>
                </li>
            {% endif %}

            {% if item.pr_head_ref %}
                {% if 'unknown_repository' == item.pr_head_user %}
                    <li>
                        &nbsp;
                        <span class="octicon octicon-repo-forked"></span>
                        unknown repository
                    </li>
                {% else %}
                    <li>
                        &nbsp;
                        <a href="https://github.com/{{ item.pr_head_user ~ '/'  ~ project.gh_project ~ '/archive/' ~ item.pr_head_ref ~ '.zip' }}"
                           title="{{ 'Download this fork as a ZIP file'|_ }}">
                            <span class="octicon octicon-repo-forked"></span>
                            {{ item.pr_head_user ~ ':' ~ item.pr_head_ref }}
                        </a>
                    </li>
                {% endif %}
            {% endif %}

        {% endif %}

        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                   target="_blank">
                    {{ "Foreign ID"|_ }}
                    {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}
    </ul>

        {% if item.merge_state %}
            <ul class="breadcrumb">
                <li>{{ item.merge_state|mergeBadge|raw }}</li>

                {% if item.gh_merge_status.targetUrl %}
                    <li>
                        {% if item.gh_merge_status.description %}
                            {{ item.gh_merge_status.description }}
                        {% endif %}
                    </li>
                    <li>
                        <a href="{{ item.gh_merge_status.targetUrl }}">
                            {{ 'Details'|_ }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

<!-- Categories -->
    {% if item.categories %}
        <ul class="breadcrumb">
            <li>
                <strong>{{ 'Categories:'|_ }}</strong>
            </li>

                {% for category in item.categories %}
                    <li>
                    <a href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/?category=' ~ category.alias }}">
                        <span class="label" style="background-color:#{{ category.color }};color:{{ getContrastColor(category.color) }}">
                            {{ category.title }}
                        </span>
                    </a>
                    </li>
                {% endfor %}
        </ul>
    {% endif %}

<!-- Relations -->
    {% if item.rel_number %}
        <div class="alert">
            {{ relation(item.rel_name) }}
            {{ issueLink(item.rel_number, item.rel_closed, item.rel_title)|raw }}
        </div>
    {% endif %}

    {% if item.relations_f %}
        <div class="alert">
            {{ "Referenced as"|_ }}
            {% for rel_name, relations in item.relations_f %}
                <strong>{{ relation(rel_name) }}: </strong>
                {% for relation in relations %}
                    {{ issueLink(relation.issue_number, relation.closed, relation.title)|raw }}
              {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Milestones -->
    {% if item.milestone_title %}
    <ul class="breadcrumb">
        <li>
            <strong>{{ item.milestone_title }}</strong>
        </li>
    </ul>
    {% endif %}

    <!-- Main content -->

    <div class="row-fluid">
        <div class="span2 well-small user-wrapper">
            {{ avatar(item.opened_by, '', 'avatar')|raw }}<br />
            <span class="icon-github"></span> {{ item.opened_by }}<br />
            <span class="icon-calendar"></span> {{ item.opened_date|date("j M Y") }}
        </div>

        {% if item.votes or user.id or item.has_code %}
            {% set mainClass = 'span7' %}
        {% else %}
            {% set mainClass = 'span10' %}
        {% endif %}

        <div class="{{ mainClass }} well-small issue-description">
            {{ item.description|raw }}
        </div>

        {% if item.votes or user.id or item.has_code %}
        <div class="span3 well">

            {% if item.votes or user.id %}
            <h4>{{ 'Votes'|_ }}</h4>
            {% endif %}

            {% set displayVotes = ' style="display: none"' %}
            {% if item.votes %}
                {% set displayVotes = '' %}
            {% endif %}

            <div id="issue-votes"{{ displayVotes|raw }}>
                <div class="row-fluid">
                    <div class="span10"><b>{{ "# of Users Experiencing Issue"|_ }}</b></div>
                    <div id="experienced" class="span2">{{ item.experienced }}/{{ item.votes }}</div>
                </div>
                <div class="row-fluid">
                    <div class="span10"><b>{{ "Average Importance Score"|_ }}</b></div>
                    <div id="importance" class="span2">{{ item.importanceScore|number_format(2) }}</div>
                </div>
                <hr class="issue-votes" />
            </div>

            {% if user.id %}
            <form class="form-inline scores-report" name="voteForm">
                <fieldset>
                    <p>{{ "I've experienced this issue"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosYes" value="1">
                        {{ "Yes"|_ }}
                    </label>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosNo" value="0" checked>
                         {{ "No"|_ }}
                    </label>
                </fieldset>
                <hr class="issue-votes" />
                <fieldset>
                    <p>{{ "Importance of issue to me"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios1" value="1">
                        1
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios2" value="2">
                        2
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios3" value="3" checked>
                        3
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios4" value="4">
                        4
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios5" value="5">
                        5
                    </label>
                </fieldset>
                <hr class="issue-votes" />
                <div id="voteResult"></div>
                <a href="javascript:" class="btn btn-primary" id="voteButton" onclick="JTracker.submitVote('{{ item.id }}', '#voteResult');">
                    {{ "Vote"|_ }}
                </a>
            </form>
            {% endif %}

            {% if item.has_code %}

            <h4>{{ 'Tests:'|_ }}</h4>

            <ul class="unstyled">
                <li>
                    {{ 'Successful: %s'|_|format('<span id="usertests-success-num" class="tests-success"></span>')|raw }}<br />
                    <span id="usertests-success" class="tests-success"></span>
                </li>
                <li>
                    {{ 'Unsuccessful: %s'|_|format('<span id="usertests-fail-num" class="tests-fail"></span>')|raw }}<br />
                    <span id="usertests-fail" class="tests-fail"></span>
                </li>
            </ul>

                {% if user.id %}
                <form class="form-inline tests-report" name="testsForm">
                    <fieldset>
                        <p>{{ "I've tested this item"|_ }}</p>
                        <ul class="unstyled">
                            <li>
                                <label class="radio">
                                    <input id="test-result-0" class="test-result" type="radio" name="tested" value="0"{{ item.userTest == 0 ? ' checked="checked"' : '' }}>
                                    {{ "Not tested"|_ }}
                                </label>
                            </li>
                            <li>
                                <label class="radio tests-success">
                                    <input id="test-result-1" class="test-result" type="radio" name="tested" value="1"{{ item.userTest == 1 ? ' checked="checked"' : '' }}>
                                    {{ "Tested successfully"|_ }}
                                </label>
                            </li>
                            <li>
                                <label class="radio tests-fail">
                                    <input id="test-result-2" class="test-result" type="radio" name="tested" value="2"{{ item.userTest == 2 ? ' checked="checked"' : '' }}>
                                    {{ "Tested unsuccessfully"|_ }}
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                    <div id="testResult"></div>
                    <a href="javascript:" class="btn btn-primary"
                       onclick="JTracker.submitTest('{{ item.id }}', '#testResult', '#newComment', 'tplNewTestResult');">
                        {{ "Submit test result"|_ }}
                    </a>
                </form>
                {% endif %}

                {% if user.check('edit') %}
                    <hr />
                    <h6>{{ 'Alter test result'|_ }}</h6>
                    <form class="form-inline">

                        {{ 'Set the test result for user %s to %s'|_|format(
                            '<input name="altered-user" class="span10" placeholder="' ~ 'username'|_ ~ '"/>',
                            '<select name="altered" class="span12">'
                            ~ '<option value="0">' ~ userTestOptions(0) ~ '</option>'
                            ~ '<option value="1">' ~ userTestOptions(1) ~ '</option>'
                            ~ '<option value="2">' ~ userTestOptions(2) ~ '</option>'
                            ~ '</select>'
                        )|raw }}
                        <div id="alterResult"></div>
                        <a href="javascript:" class="btn btn-primary"
                           onclick="JTracker.alterTest('{{ item.id }}', '#alterResult', '#newComment', 'tplNewAlterTestResult');">
                            {{ "Alter test result"|_ }}
                        </a>

                    </form>
                {% endif %}

            {% endif %}
        </div>
        {% endif %}
    </div>

    <!-- Activity stream -->

    <div class="well-small" style="font-size: 32px;" data-icon="&#xe010;" aria-hidden="true"></div>

    {% set activitiesCnt = 0 %}
    {% for activity in item.activities %}
        <div id="event-{{ activity.activities_id }}">
            <div class="row-fluid">
            {% if 'test_item' == activity.event %}
                {% set change = activity.text|json_decode %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-person"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                    - <span class="tests-{{ change }}">{{ userTestOptions(change) }}</span>
                </div>
            {% elseif 'alter_testresult' == activity.event %}
                {% set change = activity.text|json_decode %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-eye"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                    - <b>{{ change.user }}</b>: <span class="tests-{{ change.value }}">{{ userTestOptions(change.value) }}</span>
                </div>
            {% elseif 'commit' == activity.event %}
                <div class="offset1 span11">
                    <span class="pull-right">
                        <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ activity.activities_id }}">
                            {{ activity.activities_id|slice(0, 7) }}
                        </a>
                        <span title="{{ activity.created_date|date("j M Y H:i:s") }}">{{ activity.created_date|date("j M y") }} <i class="icon-calendar" style="cursor: help"></i></span>
                    </span>
                    <i class="octicon octicon-git-commit" title="{{ 'Git commit' }}"></i>
                    <span title="{{ activity.user }}">
                        {{ avatar(activity.user, 20, 'avatar')|raw }}
                    </span>
                    <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/commit/' ~ activity.activities_id }}">
                        {{ activity.text }}
                    </a>
                </div>
            {% elseif 'change' == activity.event %}
                <div class="offset1 span9 activity-action">
                    <i class="octicon octicon-gear"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                </div>
                <div class="row-fluid">
                    <div class="offset1 span9">
                        {% if "change" == activity.event %}
                            <table class="table">
                            {% for change in activity.text|json_decode %}
                                {% if 'status' == change.name %}
                                    {{ activities.status(change.old, change.new) }}
                                {% elseif 'title' == change.name %}
                                    {% set activitiesCnt = activitiesCnt + 1 %}
                                    {{ activities.title(change.old, change.new, activitiesCnt) }}
                                {% elseif 'description_raw' == change.name%}
                                    {% if user.check('edit') %}
                                        {% set activitiesCnt = activitiesCnt + 1 %}
                                        {{ activities.description(change.old, change.new, activitiesCnt) }}
                                    {% else %}
                                        {{ 'The description was changed'|_ }}
                                    {% endif %}
                                {% elseif 'priority' == change.name %}
                                    {{ activities.priority(change.old, change.new) }}
                                {% elseif 'labels' == change.name %}
                                    {{ activities.labels(change.old, change.new) }}
                                {% elseif 'easy' == change.name %}
                                    {{ activities.easy(change.old, change.new) }}
                                {% elseif 'rel_type' == change.name %}
                                    {{ activities.relationType(change.old, change.new) }}
                                {% elseif "category" == change.name %}
                                    {{ activities.category(change.old, change.new) }}
                                {% else %}
                                    {{ activities.change(change.name, change.old, change.new) }}
                                {% endif %}
                            {% endfor %}
                            </table>
                        {% else %}
                            {{ activity.text|raw }}
                        {% endif %}
                    </div>
                </div>
            {% elseif activity.text != '' %}
                {# Comment #}
                <div class="span1 activity-avatar">
                    {{ avatar(activity.user, 40, 'avatar')|raw }}
                </div>
                <div class="span11 activity-comment">
                    <div class="well well-small">
                        <b>{{ activity.user }}</b>
                        - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                        - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                    </div>
                    <div style="margin: 10px;">
                        {{ activity.text|raw }}
                    </div>
                </div>
            {% else %}
                <div class="offset1 span9">
                    <i class="octicon octicon-pulse"></i>
                    {{ avatar(activity.user, 20, 'avatar')|raw }}
                    <b>{{ activity.user }}</b>
                    - <a href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - <span title="{{ activity.created_date|date("j M Y H:i:s") }}"><i class="icon-calendar"></i>{{ activity.created_date|date("j M y") }}</span>
                </div>
            {% endif %}
            </div>
        </div>
    {% endfor %}

    <div id="newComment"></div>

    <!-- Add form -->

    <h4>
        {{ "Add a Comment"|_ }}
    </h4>

    {% if user.id %}
        {% if user.check("create") or user.check("manage") %}
            <div class="row-fluid">
                <div class="span1 well-small">
                    {{ avatar(user.username, '', 'avatar')|raw }}
                </div>
                <div class="span11">
                    {% set editorId="comment" %}
                    {% set writeId="write" %}
                    {% set previewId="preview" %}
                    {% set editorPlaceholder="Leave a comment"|_ %}
                    {% include "editor.twig" %}
                </div>
            </div>
            <div class="row-fluid">
                {% if item.has_code %}
                    <ul class="test-results offset1 unstyled inline">
                        <li>
                            <label class="radio">
                                {% if (item.userTest is not null and item.userTest == 0) %}
                                    {% set checked = ' checked="checked"' %}
                                {% else %}
                                    {% set checked = '' %}
                                {% endif %}
                                <input id="comment-test-result-0" class="comment-test-result" type="radio" name="comment-tested" value="0"{{ checked }}>
                                {{ "Not tested"|_ }}
                            </label>
                        </li>
                        <li>
                            <label class="radio tests-success">
                                <input id="comment-test-result-1" class="comment-test-result" type="radio" name="comment-tested" value="1"{{ item.userTest == 1 ? ' checked="checked"' : '' }}>
                                {{ "Tested successfully"|_ }}
                            </label>
                        </li>
                        <li>
                            <label class="radio tests-fail">
                                <input id="comment-test-result-2" class="comment-test-result" type="radio" name="comment-tested" value="2"{{ item.userTest == 2 ? ' checked="checked"' : '' }}>
                                {{ "Tested unsuccessfully"|_ }}
                            </label>
                        </li>
                    </ul>

                    {% set testResult = '' %}
                    {% if (item.userTest) %}
                        {% set testResult = item.userTest %}
                    {% endif %}
                    <input id="current-test-result" type="hidden" value="{{ testResult }}">
                    <input id="issue-id" type="hidden" value="{{ item.id }}">
                {% endif %}

                <div class="pull-right comment-wrapper">
                    <div id="commentStatus"></div>
                    <a href="javascript:" class="btn btn-success"
                       onclick="JTracker.submitComment('{{ item.issue_number }}', '#commentStatus', '#newComment', 'tplNewComment');">
                        {{ "Post Comment"|_ }}
                    </a>
                </div>
            </div>

            <div class="row-fluid">
                <div class="offset2 span10">
                    {% include "uploader.full.twig" %}
                </div>
            </div>
        {% else %}
            {# The user is not authorized #}
        {% endif %}

    {% else %}
        <a class="btn btn-success" href="{{ loginUrl }}">{{ "Login with GitHub to post a comment"|_ }}</a>
    {% endif %}

    {% endif %}

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplNewComment">
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="span1 activity-avatar">
                    {{ avatar(user.username, 40, 'avatar')|raw }}
                </div>
                <div class="span11 activity-comment">
                    <div class="well well-small">
                        <b>{{ user.username }}</b>
                        - <a href="/{{ uri.route }}#event-[%= o.activities_id %]">comment</a>
                        - <span title="[%= o.created_at %]"><i class="icon-calendar"></i>[%= o.created_at %]</span>
                    </div>
                    <div style="margin: 10px;">
                        [%# o.text %]
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="tplNewTestResult">
        [% var resultValues = ['{{ userTestOptions(0) }}', '{{ userTestOptions(1) }}', '{{ userTestOptions(2) }}']; %]
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="offset1 span11 activity-action">
                    <i class="octicon octicon-person"></i>
                    {{ avatar(user.username, 20, 'avatar')|raw }}
                    <b>{{ user.username }}</b>
                    - <a name="event-[%= o.activities_id %]" href="/{{ uri.route }}#event-[%= o.activities_id %]">[%= o.event %]</a>
                    - [%= o.created_date %]
                    - <span class="tests-[%= o.text %]">[%= resultValues[o.text] %]</span>
                </div>
            </div>
        </div>
    </script>

    <script type="text/x-tmpl" id="tplNewAlterTestResult">
        [% var resultValues = ['{{ userTestOptions(0) }}', '{{ userTestOptions(1) }}', '{{ userTestOptions(2) }}']; %]
        <div id="event-[%= o.activities_id %]">
            <div class="row-fluid">
                <div class="offset1 span11 activity-action">
                    <i class="octicon octicon-eye"></i>
                    {{ avatar(user.username, 20, 'avatar')|raw }}
                    <b>{{ user.username }}</b>
                    - <a name="event-[%= o.activities_id %]" href="/{{ uri.route }}#event-[%= o.activities_id %]">[%= o.event %]</a>
                    - [%= o.created_date %]
                    - [%= o.text.user + ': ' + resultValues[o.text.value] %]
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}
    <script type="text/javascript" src="{{ uri.base.path }}vendor/markitup/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}jtracker/markitup/sets/markdown/set.js"></script>

    <script src="{{ uri.base.path }}vendor/blueimp-tmpl/js/tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}jtracker/blueimp-tmpl/js/jtracker-tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-load-image/js/load-image.all.min.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="{{ uri.base.path }}vendor/jquery-textrange/jquery-textrange.js"></script>
    <script src="{{ uri.base.path }}jtracker/core/js/uploader-img.js"></script>
    <script src="{{ uri.base.path }}vendor/Caret.js/dist/jquery.caret{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}vendor/jquery.atwho/dist/js/jquery.atwho{{ jdebug ? "" : ".min" }}.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#comment').markItUp(myMarkdownSettings);
            JTracker.updateTests(
                    {{ item.testsSuccess ? ("['" ~ item.testsSuccess|join("', '") ~ "']")|raw : '[]' }},
                    {{ item.testsFailure ? ("['" ~ item.testsFailure|join("', '") ~ "']")|raw : '[]'}}
            );
        });

        $('a[data-toggle="tab"]').on('shown', function (e)
        {
            if ('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#comment', '#preview');
            }
        });

        $('#comment').focus(function() {
            $('input[name="editorId"]').val(this.id);
        });

        JTracker.setupAtJS('comment', '{{ project.alias }}');

    </script>

{% endblock %}
