{# Copyright (C) 2012 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}Issues List{% endblock %}

{% block headerText %}{{ project.title }}{% endblock %}

{% block headerCSS %}
    <link href="{{ uri.base.path }}css/pagination/pagination.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}css/pagination/B_black.css" rel="stylesheet" media="screen">
    <style type="text/css">
        td.issueInfo:hover {
            background-color: #eee;
            cursor: help;
        }
    </style>
{% endblock %}

{% block prependMenu %}
    {% if user.check("create") %}
        <li>
            <a class="btn-success" href="{{ uri.base.path }}tracker/{{ project.alias }}/add">
                New Item
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <form action="{{ uri.base.path }}tracker/{{ project.alias }}" method="post" name="adminForm" id="adminForm" class="form-inline form-search">
        <div class="filters btn-toolbar clearfix">
            <div class="filter-search btn-group pull-left input-append">
                <label class="filter-search-lbl element-invisible"
                       for="filter-search">{{ translate('COM_TRACKER_FILTER_SEARCH_DESCRIPTION') }}</label>
                <input type="text" class="search-query input-xlarge" name="filter-search" id="filter-search"
                       value="{{ state.get('list.filter') }}" onchange="document.adminForm.submit();"
                       title="{{ translate('COM_TRACKER_FILTER_SEARCH_DESCRIPTION') }}"
                       placeholder="{{ translate('COM_TRACKER_FILTER_SEARCH_DESCRIPTION') }}"/>
                <button class="btn tip hasTooltip" type="submit" title="{{ translate('JSEARCH_FILTER_SUBMIT') }}">
                    <span class="icon-search"></span></button>
            </div>
            <div class="btn-group pull-left">
                <button class="btn tip hasTooltip" type="button"
                        onclick="jQuery('#filter-search').val('');document.adminForm.submit();"
                        title="{{ translate('JSEARCH_FILTER_CLEAR') }}"><span class="icon-remove"></span></button>
            </div>
        </div>

        {% if pagination.pagesTotal > 1 %}
            {{ pagination.bar|raw }}
            {{ sprintf(translate("Page %1$s of %2$s"), pagination.pageNo, pagination.pagesTotal) }}
        {% endif %}

        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th width="2%" class="nowrap hidden-phone">{{ translate('JGRID_HEADING_ID') }}</th>
                <th>{{ translate('COM_TRACKER_HEADING_SUMMARY') }}</th>
                <th width="5%">{{ translate('COM_TRACKER_HEADING_PRIORITY') }}</th>
                <th width="10%">{{ translate('JSTATUS') }}</th>
                <th width="10%" class="hidden-phone">{{ translate('COM_TRACKER_HEADING_DATE_OPENED') }}</th>
                <th width="10%" class="hidden-phone">{{ translate('COM_TRACKER_HEADING_DATE_CLOSED') }}</th>
                <th width="10%" class="hidden-phone">{{ translate('COM_TRACKER_HEADING_LAST_MODIFIED') }}</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
                {% set blockers = [1, 2] %}
                {% for item in items %}

                    {% set rowClass = '' %}
                    {% if item.priority in blockers %}
                        {% set rowClass = ' class=error' %}
                    {% endif %}
                    {% if item.status == 4 %}
                        {% set rowClass = ' class=success' %}
                    {% endif %}

                    <tr{{ rowClass }}>
                        <td class="center hidden-phone issueInfo">
                            <div title="{{ project.title }} # {{ item.issue_number }}"
                                  data-issue="{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.issue_number }}/info">
                                {{ item.issue_number }}
                                Info
                            </div>
                        </td>
                        <td class="hasContext">
                            <div class="hasTooltip" title="">
                                {% if user.check("edit") %}
                                <a class="pull-right btn btn-small" href="{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.issue_number }}/edit">
                                    <span data-icon="&#xe003;"></span>
                                {% endif %}
                                <a href="{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.issue_number }}">
                                    {{ item.title|e }}
                                </a>
                                    {% if project.gh_user and project.gh_project %}
                                        <br/>
                                        {{ translate('COM_TRACKER_HEADING_GITHUB_ID') }}
                                        <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}/issues/{{ item.issue_number }}"
                                           target="_blank">
                                            {{ item.issue_number }}
                                        </a>
                                    {% endif %}
                                    {% if item.foreign_number %}
                                        <br/>
                                        {{ translate('COM_TRACKER_HEADING_FOREIGN_ID') }}
                                        <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                                           target="_blank">
                                            {{ item.foreign_number }}
                                        </a>
                                    {% endif %}
                            </div>
                        </td>
                        <td class="center">
                            <span class="badge {{ prioClass(item.priority) }}">{{ item.priority  }}</span>
                        </td>

                        <td>
                            {{ translate('COM_TRACKER_STATUS_' ~ item.status_title|upper) }}
                        </td>

                        <td class="nowrap small hidden-phone">
                            {{ item.opened|date('Y-m-d') }}
                        </td>
                        <td class="nowrap small hidden-phone">
                            {% if item.closed_status %}
                                {{ item.closed_date|date('Y-m-d') }}
                            {% endif %}
                        </td>
                        <td class="nowrap small hidden-phone">
                            {% if item.modified != '0000-00-00 00:00:00' %}
                                {{ item.modified|date('Y-m-d') }}
                                {% if item.modified_by %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="center" colspan="8">
                        {{ translate('COM_TRACKER_NO_ITEMS_FOUND') }}
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </form>

    {% if pagination.pagesTotal > 1 %}
        {{ sprintf(translate("Page %1$s of %2$s"), pagination.pageNo, pagination.pagesTotal) }}
        {{ pagination.bar|raw }}
    {% endif %}

<!-- ++++++++++++++++++++++++++ -->
<!-- +  JavaScript templates  + -->
<!-- ++++++++++++++++++++++++++ -->

<script type="text/x-tmpl" id="tplIssueInfo">
    <ul class="unstyled">
        <li>Opened by: [%= o.opened_by %]</li>
        <li>Comments: [%= o.comment_count %]</li>
    </ul>
</script>

{% endblock %}

{% block JavaScriptBottom %}

    {{ parent() }}

    <script src="{{ uri.base.path }}js/js-templates/tmpl{{ jdebug ? "" : ".min" }}.js"></script>

    <script type="text/javascript">

    /**
     * Setup custom tags for the JS template engine.
     * @type {RegExp}
     */
    tmpl.regexp = /([\s'\\])(?![^%]*%\])|(?:\[%(=|#)([\s\S]+?)%\])|(\[%)|(%\])/g;

    $('*[data-issue]').hover(
            function () {
                var el = $(this);
                $.get(el.data('issue'), function(r) {
                    el.popover({
                       content: tmpl("tplIssueInfo", r.data),
                       html: true
                   }).popover('show');
                });
            },
            function () {
                $(this).popover('hide');
            }
    );
    </script>

{% endblock %}
