{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ project.title }} - New Item{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block prependMenu %}
    <li id="issueResult">
        <a class="nav-link bg-success submit-button" href="javascript:" id="submit">Submit</a>
    </li>
    {{ parent() }}
{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/vendor/blueimp-file-upload.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/bootstrap-select.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/switch.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/jquery.atwho.css') }}" />

    <!-- CSS for coloured code -->
    <link rel="stylesheet" href="{{ asset('css/code.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/skins/tracker/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/markitup/sets/markdown/style.css', 'debug') }}" />
{% endblock %}

{% block content %}
    {% import "fields.twig" as fields %}

    <div class="alert alert-danger" style="display: none"></div>

    <form method="post" action="/{{ uri.route }}-submit" name="editForm" id="issueForm">
        <div class="row">
            <div class="col-md-9">

                <div class="alert alert-warning">
                    Report security issues to the Joomla! Security Strike Team (JSST) at <a class="alert-link" href="mailto:security@joomla.org">security@joomla.org</a> or with the <a class="alert-link" href="https://developer.joomla.org/security/contact-the-team.html">JSST contact form</a>, please do not use the public tracker for security issues.
                </div>

                <div class="helpText alert alert-info">
                    To report a bug in the Joomla! bug trackers, you need to create a tracker item. Once the tracker item is created, the developers will check the validity of it and act accordingly.
                </div>

                <h2>New Item</h2>

                <fieldset>
                    <div class="mb-3">
                        {{ fields.label('title', 'Title', '') }}
                        {{ fields.input('title', '', '', '', 'validateTitle form-control input-issue-title') }}
                    </div>

                    <div class="helpText alert alert-info">
                        Describe in a few words the issues you are having. It is generally a good idea to use existing tracker items as examples if this is your first time reporting a bug.
                    </div>

                    {{ fields.label('description', 'Description', '') }}

                    {% set editorId="description" %}
                    {% set writeId="write" %}
                    {% set previewId="preview" %}
                    {% set editorClass="validateDescription" %}
                    {% set editorName="body" %}
                    {% set editorText=item.description_raw %}
                    {% set editorPlaceholder="Description text" %}

                    {% include "editor.twig" %}

                    <div class="helpText alert alert-info">
                        This is the most important part of reporting the bug. Describe here step by step how you got the error you are noticing. Include all of the information that someone will need to re-trace your steps and see the problem. Remember: your bug will not be fixed unless others can see the problem, so you want to be as clear and detailed as possible. You do not need to know anything about programming to write a great bug report. But if you do understand the code and think you know how to fix the bug, please include this in the report.
                    </div>

                </fieldset>
                <a class="submit-button float-end btn btn-success" href="javascript:" id="submit">Submit</a>

            </div>

            <div class="col-md-3 float-end">
                <div class="card text-bg-secondary">
                    <div class="card-body">
                        <div class="switcher-elem">
                            <input class="switcher" id="helpSwitch" type="checkbox" {{ user.check("manage") ? "" : " checked" }} />
                            <label for="helpSwitch">Display Help</label>
                        </div>

                        <hr />

                        {{ fields.label('priority', 'Priority', '') }}
                        {{ fields.select('priority', issue_priorities(), item.priority, 'priority', 'input-small-100') }}

                        <div class="helpText alert alert-info">
                            The priority of which this issue should be resolved. Please see the <a class="alert-link" href="https://docs.joomla.org/Bug_Tracking_Process" target="_blank">Bug Tracking Process</a> page for detailed information about the project's priorities.
                        </div>

                        {{ fields.label('build', 'Build', '') }}
                        {{ fields.input('build', '', '', '', 'validateBuild input-small') }}

                        <div class="helpText alert alert-info">
                            The version(s) of the project on which this issue is found.
                        </div>

                        {% if project.categories %}
                            {{ fields.label('categories[]', 'Categories') }}
                            {{ fields.selectCategories('categories[]', project.categories) }}
                            <div class="helpText alert alert-info">
                                Please select one or more Categories here that match to your issue.
                            </div>
                        {% endif %}

                        {% if user.check('edit') %}

                            {% if project.labels %}
                                {{ fields.label('labels', 'Labels') }}
                                {{ fields.selectLabels('labels[]', project.labels, item.labels|split(','), 'labels') }}
                            {% endif %}

                            {% if project.milestones %}
                                {{ fields.label('milestone_id', 'Milestone') }}
                                {{ fields.selectMilestone('milestone_id', project.milestones, 0, 'milestone_id', 'col-md-12') }}
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="offset-md-1 col-md-6">
            {% include "uploader.full.twig" %}
        </div>
    </div>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('markitup/jquery.markitup.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-validation.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-canvas-to-blob.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-load-image.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-file-upload.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery-textrange.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap-select.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.caret.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.atwho.js') }}"></script>

    <script src="{{ asset('css/markitup/sets/markdown/set.js', 'debug') }}"></script>
    <script src="{{ asset('js/jtracker-tmpl.js', 'debug') }}"></script>
    <script src="{{ asset('js/validation/jtracker-rules.js', 'debug') }}"></script>
    <script src="{{ asset('js/uploader-img.js', 'debug') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#description').markItUp(myMarkdownSettings);
            $('.selectpicker').selectpicker();
        });

        var helpSwitch = document.getElementById('helpSwitch');

        helpSwitch.addEventListener('change', (event) => {
          var helpItems = document.querySelectorAll('.helpText');

          helpItems.forEach((helpItem) => {
              if (event.currentTarget.checked) {
                helpItem.classList.remove('d-none');
              } else {
                helpItem.classList.add('d-none');
              }
          });
        })

        // Set the initial state
        if (!helpSwitch.checked) {
          var helpItems = document.querySelectorAll('.helpText');

          helpItems.forEach((helpItem) => {
              helpItem.classList.add('d-none');
          });
        }

        $('a[data-bs-toggle="tab"]').on('shown', function (e) {
            if ('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#description', '#preview');
            }
        });

        $('#description').focus(function() {
            $('input[name="editorId"]').val(this.id);
        });

        // Validate and submit form
        var form = $('#issueForm');

        form.validate({
            invalidHandler: function(event, validator) {
                var e = $('div.alert-danger');

                if (validator.numberOfInvalids()) {
                    e.html('Some fields are invalid. They have been highlighted.');
                    e.show();
                } else {
                    e.hide();
                }
            }
        });

        $('.submit-button').click(function() {
            if (form.valid()) {
                $('.submit-button').html('Submitting...');
            }
            form.submit();
        });

        JTracker.setupAtJS('description', '{{ project.alias }}');

    </script>
{% endblock %}
