{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ project.title }} #{{ item.issue_number }}{% endblock %}

{% block headerText %}{{ project.title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <style type="text/css">
        a:target {
            /* Anchor links in events and fixed top bar */
            padding-top: 120px;;
        }
    </style>
{% endblock %}

{% block prependMenu %}
    {% if user.check("edit") %}
        <li>
            <a class="btn-warning" href="{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.issue_number }}/edit">
            Edit
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <h2>{{ project.title }} #{{ item.issue_number }}</h2>

    <!-- Status bar -->
    <ul class="breadcrumb">
        <li>
            <span class="badge badge-{{ item.closed ? "important" : "success" }}">
                {{ translate('COM_TRACKER_STATUS_' ~ item.status_title|upper) }}
            </span>
        </li>

        {% if item.closed %}
            <li>{{ item.closed_date|date("j M y") }}</li>
            <!-- @todo SHA link -->
            {% if item.closed_sha %}
                <li>SHA: {{ item.closed_sha }}</li>
            {% endif %}
        {% endif %}

        <li>
            <span class="badge {{ prioClass(item.priority) }}">
                {{ sprintf("Priority %d", item.priority) }}
            </span>
        </li>

        {% if project.gh_user and project.gh_project %}
            <li>
                <i class="icon-github"></i>
                <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}/issues/{{ item.issue_number }}"
                   target="_blank">
                    GitHub # {{ item.issue_number }}
                </a>
            </li>

            {% if item.has_code %}
                <li>
                    &nbsp;&bull;&nbsp;
                    <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}/pull/{{ item.issue_number }}.diff"
                       target="_blank">
                        diff
                    </a>
                </li>
            {% endif %}

        {% endif %}

        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                   target="_blank">
                    {{ translate('COM_TRACKER_HEADING_FOREIGN_ID') }}
                    {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}

    </ul>

    <!-- Main content -->

    <div class="row-fluid">

        <div class="span1 well-small">
            {{ avatar(item.opened_by)|raw }}
        </div>

        <div class="span11 well-small">
            {{ sprintf("%1$s opened this ticket on %2$s", item.opened_by, item.opened_date|date("j M Y")) }}
            <h3>{{ item.title }}</h3>
            {{ item.description|raw }}
        </div>

    </div>

    <!-- Activity stream -->

    <div class="well-small" style="font-size: 32px;" data-icon="&#xe010;" aria-hidden="true"></div>

    {% for activity in item.activities %}
        <div class="row-fluid">
            <div class="span1 well-small">
                {{ avatar(activity.user)|raw }}
            </div>
            <div class="span11">
                <div class="well well-small">
                    <img src="{{ uri.base.path }}images/tracker/action_{{ activity.event }}.png"
                         alt="{{ activity.event }} on {{ activity.created_date }}"
                         title="{{ activity.event }} on {{ activity.created_date }}"/>
                    {{ activity.created_date|date("j M y") }}
                    - <a name ="event-{{ activity.activities_id }}" href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                    - {{ activity.user }}
                </div>
            </div>
            <div class="span12">
                {% if "change" == activity.event %}
                    <table class="table">
                    {% for change in activity.text|json_decode %}
                        <tr>
                            <td style="width: 13%">{{ change.name|title }}</td>
                            {% if "status" == change.name %}
                                <td style="width: 44%" class="alert-{{ statuses(change.old).closed ? "error" : "success" }}">
                                    {{ translate('COM_TRACKER_STATUS_' ~ statuses(change.old).status|upper) }}
                                </td>
                                <td style="width: 1%">&rArr;</td>
                                <td style="width: 44%" class="alert-{{ statuses(change.new).closed ? "error" : "success" }}">
                                    {{ translate('COM_TRACKER_STATUS_' ~ statuses(change.new).status|upper) }}
                                </td>
                            {% else %}
                                <td style="width: 44%">{{ change.old }}</td>
                                <td style="width: 1%">&rArr;</td>
                                <td style="width: 44%">{{ change.new }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    {{ activity.text|raw }}
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <!-- Add form -->

    <h4>
        Add a Comment
    </h4>

    {% if user.id %}
        {% if user.check("create") or user.check("manage") %}
            <div class="row-fluid">
                <div class="span1 well-small">
                    {{ avatar(user.username)|raw }}
                </div>
                <div class="span11">
                    {# Editor object here... #}
                    <textarea id="comment" class="span12"></textarea>
                </div>
            </div>
            <div class="pull-right">
                <a href="javascript:" onclick="alert('Not yet :(');" class="btn btn-success">
                    Post Comment
                </a>
            </div>
        {% else %}
            {# The user is not authorized #}
        {% endif %}

    {% else %}
        <a class="btn btn-success" href="{{ loginUrl }}">Login with GitHub to post a comment</a>
    {% endif %}

    {% if jdebug %}
        {{ dump(item) }}
    {% endif %}

{% endblock %}
