{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ project.title ~ ' #' ~ item.issue_number }}{% endblock %}

{% block headerText %} - {{ project.short_title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <link href="{{ uri.base.path }}jtracker/markitup/skins/markitup/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}jtracker/markitup/sets/markdown/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}vendor/blueimp-file-upload/css/jquery.fileupload.css" rel="stylesheet" >
    <link href="{{ uri.base.path }}vendor/blueimp-file-upload/css/jquery.fileupload-ui.css" rel="stylesheet" >
    <link href="{{ uri.base.path }}vendor/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
{% endblock %}

{% block content %}

    {% import "fields.twig" as fields %}

    <div class="alert alert-danger" style="display: none"></div>

    <form method="post" action="/{{ uri.route }}-save" class="form-inline" name="editForm" id="issueForm">

    <h2>{{ project.title }} #{{ item.issue_number }}</h2>

    <!-- Status bar -->

    <ul class="breadcrumb">
        <li>
            <a class="btn btn-success" href="javascript:" id="submit">{{ translate('Save') }}</a>
        </li>
        <li>
            <a class="btn btn-inverse" href="{{ uri.base.path ~ 'tracker/' ~ project.alias ~ '/' ~ item.issue_number }}">
                {{ translate('Cancel') }}
            </a>
        </li>

        {% if project.gh_user and project.gh_project %}
            <li>
                <i class="icon-github"></i>
                <a href="https://github.com/{{ project.gh_user ~ '/' ~ project.gh_project ~ '/issues/' ~ item.issue_number }}"
                   target="_blank" class="external">
                    GitHub # {{ item.issue_number }}
                </a>
            </li>
        {% endif %}
        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                   target="_blank">
                    {{ translate('Foreign ID') }}
                    {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}

        <li>
            {{ sprintf("%1$s opened this ticket on %2$s", item.opened_by, item.opened_date|date("j M Y")) }}
        </li>
    </ul>

    {% if user.check("edit") %}
    {# Show only if the user has *full*^edit rights - e.g. not "edit own" #}
    <ul class="breadcrumb">
        <li>
            <label for="status">{{ translate('Status') }}</label>
            <select name="item[status]" id="status" class="span2">
                {% for key, value in getStatuses() %}
                    <option {{ key == item.status ? "selected='selected'" : ""  }} value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <label for="priority">{{ translate('Priority') }}</label>
            <select name="item[priority]" id="priority" class="span2">
                {% for key, value in priorities() %}
                    <option {{ key == item.priority ? "selected='selected'" : ""  }} value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </li>
        <li><div class="span1"></div></li>
        <li>
            <label for="rel_type">{{ translate('Item') }}</label>
            <select name="item[rel_type]" id="rel_type" class="span2">
                <option></option>
                {% for relType in getRelTypes() %}
                    {% set selected = item.rel_type == relType.value ? 'selected="selected"' : '' %}
                    <option {{ selected }} value="{{ relType.value }}">{{ relType.text }}</option>
                {% endfor %}
            </select>
        </li>
        <li>
            <label for="rel_number">#</label>
            <input name="item[rel_number]" id="rel_number" type="text" class="span1" value="{{ item.rel_number }}" />
        </li>
    </ul>

    <ul class="breadcrumb">
        <li>
            <label for="build">{{ translate('Build') }}</label>
            <input name="item[build]" id="build" type="text" class="span1 validateBuild" value="{{ item.build }}" />
        </li>
        <li>
            <label for="easy">{{ translate('Easy test') }}</label>
            <select name="item[easy]" id="easy" class="span1">
                <option {{ 0 == item.easy ? "selected='selected'" : ""  }} value="0">{{ '0'|yesno }}</option>
                <option {{ 1 == item.easy ? "selected='selected'" : ""  }} value="1">{{ '1'|yesno }}</option>
            </select>
        </li>
        <li>
            {{ fields.label('categories[]', 'Categories'|_) }}
            {{ fields.selectCategories('categories[]', project.categories, item.categoryids) }}
        </li>
    </ul>
    {% endif %}

    <div class="row-fluid">
        <div class="span11 well-small">
            <ul class="unstyled">
                <li style="padding-bottom: 10px">
                    <label for="title">{{ translate('Title') }}</label>
                    <input name="item[title]" id="title" type="text"
                    style="width: 80%; font-size: 1.2em;"
                    value="{{ item.title }}"
                    class="validateTitle" />
                </li>
                <li>

                    {% set editorId="description" %}
                    {% set editorName="item[description_raw]" %}
                    {% set editorText=item.description_raw %}
                    {% set editorPlaceholder="Description text" %}

                    {% include "editor.twig" %}
                </li>
            </ul>
        </div>

        <input type="hidden" name="item[id]" value="{{ item.id }}">
        <input type="hidden" name="item[issue_number]" value="{{ item.issue_number }}">

    </div>

    </form>

    <div class="row-fluid">
        <div class="offset1 span6">
            {% include "uploader.full.twig" %}
        </div>
    </div>

{% endblock %}

{% block JavaScriptBottom %}

    {{ parent() }}
    <script type="text/javascript" src="{{ uri.base.path }}vendor/markitup/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}jtracker/markitup/sets/markdown/set.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}vendor/jquery-validation/dist/jquery.validate{{ jdebug ? "" : ".min" }}.js"></script>
    {% if lang != 'en-GB' %}
        <script type="text/javascript" src="{{ uri.base.path }}vendor/jquery-validation/localization/messages_{{ lang|split('-')[0] }}.js"></script>
    {% endif %}
    <script type="text/javascript" src="{{ uri.base.path }}jtracker/jquery-validation/jtracker-rules.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-tmpl/js/tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}jtracker/blueimp-tmpl/js/jtracker-tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-load-image/js/load-image.min.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-image.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>
    <script src="{{ uri.base.path }}vendor/blueimp-file-upload/js/jquery.fileupload-validate.js"></script>
    <script src="{{ uri.base.path }}vendor/jquery-textrange/jquery-textrange.js"></script>
    <script src="{{ uri.base.path }}jtracker/core/js/uploader-img.js"></script>
    <script src="{{ uri.base.path }}vendor/bootstrap-select/bootstrap-select.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#description').markItUp(myMarkdownSettings);
            $('.selectpicker').selectpicker();
        });

        $('a[data-toggle="tab"]').on('shown', function (e) {
            if ('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#description', '#preview');
            }
        });

        // Validate and submit form
        var form = $('#issueForm');

        form.validate({
            invalidHandler: function(event, validator) {
                var e = $('div.alert-danger');

                if (validator.numberOfInvalids()) {
                    e.html('Some fields are invalid. They have been highlighted.');
                    e.show();
                } else {
                    e.hide();
                }
            }
        });

        $('#submit').click(function() {
            if (form.valid()) {
                $('#submit').html('Saving...');
            }
            form.submit();
        });
    </script>
{% endblock %}
