{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% extends "index.twig" %}

{% block title %}{{ project.title }} #{{ item.issue_number }}{% endblock %}

{% block headerText %}{{ project.title }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <!-- CSS for coloured code -->
    <link href="{{ uri.base.path }}jtracker/core/css/code.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}jtracker/markitup/skins/markitup/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}jtracker/markitup/sets/markdown/style.css" rel="stylesheet" />
    <style type="text/css">
        a:target {
            /* Anchor links in events and fixed top bar */
            padding-top: 120px;;
        }
    </style>
{% endblock %}

{% block prependMenu %}
    {% if user.check("edit") %}
        <li>
            <a class="btn-warning" href="{{ uri.base.path }}tracker/{{ project.alias }}/{{ item.issue_number }}/edit">
            {{ "Edit"|_ }}
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <h2>[#{{ item.issue_number }}] - {{ item.title }}</h2>

    <!-- Status bar -->

    <span class="pull-right">{{ item.labels|labels|raw }}</span>

    <ul class="breadcrumb">
        <li>
            <span class="badge badge-{{ item.closed ? "important" : "success" }}">
                {{ item.status_title|_ }}
            </span>
        </li>

        {% if item.closed %}
            <li>{{ item.closed_date|date("j M y") }}</li>
            <!-- @todo SHA link -->
            {% if item.closed_sha %}
                <li>SHA: {{ item.closed_sha }}</li>
            {% endif %}
        {% endif %}

        <li>
            <span class="badge {{ prioClass(item.priority) }}">
                {{ "Priority"|_ }} {{ item.priority }}
            </span>
        </li>

        {% if item.build %}
            <li>
                <span class="badge">
                    {{ "Build"|_ }}: {{ item.build }}
                </span>
            </li>
        {% endif %}

        {% if item.easy %}
            <li>
                <span class="badge badge-success">
                    {{ "Easy Test"|_ }}
                </span>
            </li>
        {% endif %}

        {% if item.tests %}
            <li>
                <span class="badge">
                    {{ "# of Successful Tests"|_ }}: {{ item.tests }}
                </span>
            </li>
        {% endif %}

        {% if project.gh_user and project.gh_project %}
            <li>
                <i class="icon-github"></i>
                <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}/issues/{{ item.issue_number }}"
                   target="_blank">
                    GitHub # {{ item.issue_number }}
                </a>
            </li>

            {% if item.has_code %}
                <li>
                    &nbsp;&bull;&nbsp;
                    <a href="https://github.com/{{ project.gh_user }}/{{ project.gh_project }}/pull/{{ item.issue_number }}.diff"
                       target="_blank">
                        diff
                    </a>
                </li>
            {% endif %}

        {% endif %}

        {% if item.foreign_number %}
            <li>
                <a href="http://joomlacode.org/gf/project/joomla/tracker/?action=TrackerItemEdit&tracker_item_id={{ item.foreign_number }}"
                   target="_blank">
                    {{ "Foreign ID"|_ }}
                    {{ item.foreign_number }}
                </a>
            </li>
        {% endif %}
    </ul>

    <!-- Relations -->

    {% if item.rel_number %}
        <div class="alert">
            {{ item.rel_name }}
            {{ issueLink(item.rel_number, item.rel_closed, item.rel_title)|raw }}
        </div>
    {% endif %}

    {% if item.relations_f %}
        <div class="alert">
            {{ "Referenced as"|_ }}
            {% for rel_name, relations in item.relations_f %}
                <strong>{{ rel_name }}: </strong>
                {% for relation in relations %}
                    {{ issueLink(relation.issue_number, relation.closed, relation.title)|raw }}
              {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <!-- Main content -->

    <div class="row-fluid">
        <div class="span2 well-small">
            {{ avatar(item.opened_by)|raw }}<br />
            <span class="icon-github"></span> {{ item.opened_by }}<br />
            <span class="icon-calendar"></span> {{ item.opened_date|date("j M Y") }}
        </div>

        <div class="span7 well-small">
            {{ item.description|raw }}
        </div>

        <div class="span3 well">
            {% if item.vote_id %}
            <table>
                <tr>
                    <th>{{ "# of Votes"|_ }}</th>
                    <td id="votes">{{ item.votes }}</td>
                </tr>
                <tr>
                    <th>{{ "# of Users Experiencing Issue"|_ }}</th>
                    <td id="experienced">{{ item.experienced }}</td>
                </tr>
                <tr>
                    <th>{{ "Average Importance Score"|_ }}</th>
                    <td id="importance">{{ item.importanceScore }}</td>
                </tr>
            </table>
            <hr />
            {% endif %}
            <form class="form-inline" name="voteForm">
                <fieldset>
                    <p>{{ "I've experienced this issue"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosYes" value="1">
                        {{ "Yes"|_ }}
                    </label>
                    <label class="radio">
                        <input type="radio" name="experiencedRadios" id="experiencedRadiosNo" value="0" checked>
                         {{ "No"|_ }}
                    </label>
                </fieldset>
                <hr />
                <fieldset>
                    <p>{{ "Importance of issue to me"|_ }}</p>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios1" value="1">
                        1
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios2" value="2">
                        2
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios3" value="3" checked>
                        3
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios4" value="4">
                        4
                    </label>
                    <label class="radio">
                        <input type="radio" name="importanceRadios" id="importanceRadios5" value="5">
                        5
                    </label>
                </fieldset>
                <hr />
                <a href="javascript:" class="btn btn-primary" id="voteButton" onclick="JTracker.submitVote('{{ item.issue_number }}', '#voteButton');">
                    {{ "Vote"|_ }}
                </a>
            </form>
        </div>
    </div>

    <!-- Activity stream -->

    <div class="well-small" style="font-size: 32px;" data-icon="&#xe010;" aria-hidden="true"></div>

    {% for activity in item.activities %}
        <div class="row-activity" id="activity-{{ activity.activities_id }}">
            <div class="row-fluid">
                <div class="span1 activity-avatar hidden-phone">
                    {{ avatar(activity.user, 40)|raw }}
                </div>
                <div class="span11 activity-action">
                    <div class="well well-small">
                        <img src="{{ uri.base.path }}images/tracker/action_{{ activity.event }}.png"
                             alt="{{ activity.event }} on {{ activity.created_date }}"
                             title="{{ activity.event }} on {{ activity.created_date }}"/>
                        <b>{{ activity.user }}</b>
                        - <a name="event-{{ activity.activities_id }}" href="/{{ uri.route }}#event-{{ activity.activities_id }}">{{ activity.event }}</a>
                        - {{ activity.created_date|date("j M y") }}
                    </div>
                </div>
            </div>
            {% if activity.event == "change" or activity.text != '' %}
                <div class="row-fluid">
                    <div class="span12">
                        {% if "change" == activity.event %}
                            <table class="table">
                            {% for change in activity.text|json_decode %}
                                <tr>
                                    <td class="span2">{{ change.name|title }}</td>
                                    {% if "status" == change.name %}
                                    <td class="span4 alert-{{ statuses(change.old).closed ? "error" : "success" }}">
                                        {{ statuses(change.old).status|_ }}
                                    </td>
                                    <td class="span1">&rArr;</td>
                                    <td class="span4 alert-{{ statuses(change.new).closed ? "error" : "success" }}">
                                        {{ statuses(change.new).status|_ }}
                                    </td>
                                    {% else %}
                                    <td class="span4">{{ change.old }}</td>
                                    <td class="span1">&rArr;</td>
                                    <td class="span4">{{ change.new }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </table>
                        {% else %}
                            {{ activity.text|raw }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <div id="newComment"></div>

    <!-- Add form -->

    <h4>
        {{ "Add a Comment"|_ }}
    </h4>

    {% if user.id %}
        {% if user.check("create") or user.check("manage") %}
            <div class="row-fluid">
                <div class="span1 well-small">
                    {{ avatar(user.username)|raw }}
                </div>
                <div class="span11">
                    {% set editorId="comment" %}
                    {% set editorPlaceholder="Leave a comment"|_ %}
                    {% include "editor.twig" %}
                </div>
            </div>
            <div class="pull-right">
                <div id="commentStatus"></div>
                <a href="javascript:" class="btn btn-success"
                   onclick="JTracker.submitComment('{{ item.issue_number }}', '#commentStatus', '#newComment', 'tplNewComment');">
                    {{ "Post Comment"|_ }}
                </a>
            </div>
        {% else %}
            {# The user is not authorized #}
        {% endif %}

    {% else %}
        <a class="btn btn-success" href="{{ loginUrl }}">{{ "Login with GitHub to post a comment"|_ }}</a>
    {% endif %}

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplNewComment">
        <div class="row-fluid">
            <div class="span1 well-small">
                {{ avatar(user.username)|raw }}
            </div>
            <div class="span11">
                <div class="well well-small">
                    <img src="{{ uri.base.path }}images/tracker/action_comment.png"
                         alt="comment on [%= o.created_at %]"
                         title="comment on [%= o.created_at %]"/>
                        [%= o.created_at %]
                    - <a name ="event-[%= o.activities_id %]" href="/{{ uri.route }}#event-[%= o.activities_id %]">comment</a>
                    - {{ user.username }}
                </div>
            </div>
            <div class="span12">[%# o.text %]</div>
        </div>
    </script>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}
    <script type="text/javascript" src="{{ uri.base.path }}vendor/markitup/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}jtracker/markitup/sets/markdown/set.js"></script>

    <script src="{{ uri.base.path }}vendor/blueimp-tmpl/js/tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}jtracker/blueimp-tmpl/js/jtracker-tmpl{{ jdebug ? "" : ".min" }}.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            $('#comment').markItUp(myMarkdownSettings);
        });

        $('a[data-toggle="tab"]').on('shown', function (e)
        {
            if('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#comment', '#preview');
            }
        });
    </script>

{% endblock %}
