{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ project.title }} - New Item{% endblock %}

{% block headerText %}{{ project.title }}{% endblock %}

{% block prependMenu %}
    <li>
        <a class="btn-success" href="javascript:"
           onclick="alert('Not yet :(');return false;document.editForm.submit();">
            Submit
        </a>
    </li>

    {{ parent() }}

{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <link href="{{ uri.base.path }}bootstrap-switch/static/stylesheets/bootstrapSwitch.css" rel="stylesheet"
          media="screen">
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}
    <script src="{{ uri.base.path }}bootstrap-switch/static/js/bootstrapSwitch.js"></script>
    <script type="text/javascript">
        var switcher = $('#helpSwitch');

        // Show and hide help texts
        switcher.on('switch-change', function (e, data) {
            if (data.value) {
                $('.helpText').show();
            }
            else {
                $('.helpText').hide();
            }
        });

        // Set the initial state
        if (switcher.children('input').attr('checked')) {
            $('.helpText').show();
        }
        else {
            $('.helpText').hide();
        }

        $('a[data-toggle="tab"]').on('shown', function (e)
        {
            if('#preview' == $(e.target).attr('href'))
            {
                var out = $('#preview');

                out.html('Loading preview...');

                $.post(
                        '/preview',
                        { text: $('#description').val() },
                        function (response) {
                            out.empty();
                            if (response.error) {
                                out.html(response.error);
                            }
                            else if (!response.data.length) {
                                out.html('Invalid response.');
                            }
                            else {
                                out.html(response.data);
                            }
                        }
                );
            }
        });
    </script>
{% endblock %}

{% block content %}
    <form name="editForm">

        <div class="pull-right well well-small">

            <label for="viewMode" class="btn btn-small">View Mode</label>
            <br />
            <div class="switch switch-large" id="helpSwitch"
                 data-on-label="Help" data-off-label="Pro"
                 data-on="success" data-off="info">
                <input id="viewMode" type="checkbox" {{ user.check("manage") ? "" : " checked='checked'" }} />
            </div>

            <div class="divider">-</div>

            <label for="priority">Priority</label>
            <select name="item[priority]" id="priority" class="span2">
                {% for i in range(1, 4) %}
                    <option {{ i == item.priority ? "selected='selected'" : ""  }} value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

            <div class="helpText alert alert-info">help priority...</div>

        </div>

        <h2>New Item</h2>

        <div class="helpText alert alert-info">help intro...</div>

        {% if(user.username) %}
            {{ avatar(user.username, 100)|raw }}
        {% endif %}

        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" id="title"/>

            <div class="helpText alert alert-info">help title...</div>

            <label for="description">Description</label>

            {% set editorId="description" %}
            {% set editorPlaceholder="Description text" %}
            {% include "editor.twig" %}

            <div class="helpText alert alert-info">help description...</div>

        </fieldset>
    </form>
{% endblock %}
