{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ project.title }} - New Item{% endblock %}

{% block headerText %}{{ project.title }}{% endblock %}

{% block prependMenu %}
    <li id="issueResult">
        <a class="btn-success" href="javascript:" id="submit"
           onclick="JTracker.submitIssue('#submit', '#issueDebug');">
            Submit
        </a>
        <div id="issueDebug"></div>
    </li>
    {{ parent() }}
{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <link href="{{ uri.base.path }}bootstrap-switch/static/stylesheets/bootstrapSwitch.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}css/markitup/skins/markitup/style.css" rel="stylesheet" />
    <link href="{{ uri.base.path }}css/markitup/sets/markdown/style.css" rel="stylesheet" />
{% endblock %}

{% block content %}



    <form method="post" action="/{{ uri.route }}-submit" name="editForm">

        <div class="pull-right well well-small">

            <label for="viewMode" class="btn btn-small">View Mode</label>
            <br />
            <div class="switch switch-large" id="helpSwitch"
                 data-on-label="Help" data-off-label="Pro"
                 data-on="success" data-off="info">
                <input id="viewMode" type="checkbox" {{ user.check("manage") ? "" : " checked='checked'" }} />
            </div>

            <div class="divider">-</div>

            <label for="priority">Priority</label>
            <select name="item[priority]" id="priority" class="span2">
                {% for i in range(1, 5) %}
                    <option {{ i == item.priority ? "selected='selected'" : ""  }} value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>

            <div class="helpText span2 alert alert-info">The priority of which this issue should be resolved.  Please see the <a href="http://docs.joomla.org/Bug_Tracking_Process#Issue_Priorities" target="_blank">Bug Tracking Process</a> page for detailed information about the project's priorities.</div>

            <label for="build">Build</label>
            <input name="item[build]" id="build" type="text" class="span2" />

            <div class="helpText span2 alert alert-info">The version(s) of the project on which this issue is found.</div>
        </div>

        <h2>New Item</h2>

        <div class="helpText alert alert-info">help intro...</div>

        {% if(user.username) %}
            {{ avatar(user.username, 100)|raw }}
        {% endif %}

        <fieldset>
            <label for="title">Title</label>
            <input type="text" name="title" style="width: 80%; font-size: 1.3em;"/>

            <div class="helpText alert alert-info">Enter a descriptive summary of the issue</div>

            <label for="description">Description</label>

            {% set editorId="description" %}
            {% set editorName="body" %}
            {% set editorText=item.description_raw %}
            {% set editorPlaceholder="Description text" %}

            {% include "editor.twig" %}

            <div class="helpText alert alert-info">Enter a detailed description of the issue you are experiencing.  Please include steps to reproduce the issue and any error messages you may be receiving.</div>

        </fieldset>
    </form>
{% endblock %}

{% block JavaScriptBottom %}

    {{ parent() }}
    <script type="text/javascript" src="{{ uri.base.path }}js/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}js/markitup/sets/markdown/set.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}bootstrap-switch/static/js/bootstrapSwitch.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#description').markItUp(myMarkdownSettings);
        });

        var switcher = $('#helpSwitch');

        // Show and hide help texts
        switcher.on('switch-change', function (e, data) {
            if (data.value) { $('.helpText').show(); }
            else { $('.helpText').hide(); }
        });

        // Set the initial state
        if (switcher.children('input').attr('checked')) { $('.helpText').show(); }
        else { $('.helpText').hide(); }

        $('a[data-toggle="tab"]').on('shown', function (e) {
            if('#preview' == $(e.target).attr('href')) {
                JTracker.preview('#description', '#preview');
            }
        });
    </script>
{% endblock %}
