{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block headerCSS %}
    <style>
        fieldset:target {
            border: 1px solid silver;
            background-color: #f5f5f5;
        }
    </style>
{% endblock %}
{% block prependMenu %}
    {% if user.check("create") %}
        <li>
            <a class="btn-success" href="javascript:;" onclick="document.configForm.submit();">
                Save
            </a>
        </li>
    {% endif %}

    {{ parent() }}

{% endblock %}

{% block content %}

    <div class="row-fluid">

        <div class="span4">
            <ul class="well nav nav-list affix">
                {% for group, fields in config %}
                    <li class="">
                        <a href="#{{ group }}">{{ group|title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="span8">

            <h2>Edit Configuration</h2>

            <form method="post" action="{{ uri.base.path }}saveconfig" class="form-horizontal" name="configForm">
                {% for group, fields in config %}
                    <fieldset id="{{ group }}">
                        <legend>{{ group|title }}</legend>
                        {% for name, value in fields %}
                            {% if value[0] is not defined %}
								<div class="control-group">
									<label for="config{{ group ~ name }}" class="control-label">{{ name|title }}</label>
									<div class="controls">
										<input type="text" name="config[{{ group }}][{{ name }}]"
										   id="config{{ group ~ name }}" value="{{ value }}"/>
									</div>
								</div>
                            {% else %}
                                {% for i, v in value %}
                                    <div class="control-group">
                                        <label for="config{{ group ~ name ~ i }}" class="control-label">{{ name|title ~ " " ~ (i + 1) }}</label>
                                        <div class="controls">
                                            <input type="text" name="config[{{ group }}][{{ name }}][]"
                                                   id="config{{ group ~ name ~ i }}" value="{{ v }}"/>
                                        </div>
                                    </div>
                                    {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                {% endfor %}
            </form>

        </div>

    </div>
{% endblock %}
