{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | Documentation{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/file-tree/jqueryFileTree.css', 'debug') }}" />

    <!-- CSS for coloured code -->
    <link rel="stylesheet" href="{{ asset('css/code.css', 'debug') }}">

    <style>
        #loading {
            background: rgba(255, 255, 255, .8) url('{{ asset('images/ajax-loader.gif', 'noversion') }}') 50% 15% no-repeat;
            position: fixed;
            opacity: 0.8;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80);
            filter: alpha(opacity = 80);
            margin-left: auto;
            margin-right: auto;
            overflow: hidden;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="docuMain" class="row-fluid">
        <div class="span3">
            <h1>Documentation</h1>
            <div id="filetree"></div>
        </div>
        <div class="span9" id="docuContainer"></div>
    </div>
    <div id="loading"></div>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/vendor/twbs-pagination.js') }}"></script>
    <script src="{{ asset('js/jtracker-tmpl.js', 'debug') }}"></script>
    <script src="{{ asset('js/file-tree/jqueryFileTree.js', 'debug') }}"></script>

    <script type="text/javascript">
        function loadDocuPage(fullPath) {
            jQuery.ajax({
                url: '{{ uri.base.path }}documentation/show/?' + fullPath,
                beforeSend: function () {
                    $('#loading').show();
                },
                success: function (response) {
                    if (response.error) {
                        jQuery('#docuContainer').html(tmpl("tplDocuError", response));
                    } else {
                        jQuery('#docuContainer').html(tmpl("tplDocuPage", response));
                        window.history.pushState({}, '', '{{ uri.base.path }}documentation/view/?' + fullPath);
                    }
                },
                error: (function () {
                    alert('error..');
                }),
                complete: function () {
                    $('#loading').hide();

                    // Resize the loading overlay
                    resizeLoading();
                }
            });
        }

        function resizeLoading() {
            var outerContainer = $('div.body > div.container'),
                pageSection = $('#docuMain'),
                loading = $('#loading');

            loading.css('top', pageSection.position().top - $(window).scrollTop())
                .css('left', pageSection.position().left)
                .css('width', outerContainer.width())
                .css('height', outerContainer.height())
                .css('display', 'none');
        }

        $(document).ready(function () {
            $('#filetree').fileTree({
                root: '{{ docuBase }}',
                script: '{{ uri.base.path }}filetree',
                multiFolder: false
            }, function (fullPath) {
                loadDocuPage(fullPath);
            });

            resizeLoading();

            //
            // Load a page if the path is given
            // @todo update file tree
            {% if fullPath %}
            loadDocuPage('{{ fullPath|raw }}');
            {% endif %}
        });
    </script>

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplDocuPage">
        <div class="breadcrumb">
            <a class="btn btn-success" href="[%= o.editLink %]">Improve</a>
            <a class="btn btn-info pull-right" href="[%= o.permaLink %]">Permalink</a>
        </div>

        [%# o.data %]
    </script>

    <script type="text/x-tmpl" id="tplDocuError">
        <div class="alert alert-error">
            [%# o.error %]
        </div>
    </script>
{% endblock %}
