{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ "Documentation"|_ }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <link href="{{ uri.base.path }}jtracker/file-tree/jqueryFileTree.css" rel="stylesheet" media="screen">
    <!-- CSS for coloured code -->
    <link href="{{ uri.base.path }}jtracker/core/css/code.css" rel="stylesheet" media="screen">

    <style>
        .spinner {
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -33px;
            margin-top: -33px;
            text-align:center;
            z-index:1234;
            overflow: auto;
            width: 66px;
            height: 68px;
        }
    </style>

{% endblock %}

{% block content %}
    <div id="spinner" class="spinner" style="display:none;">
        <img id="img-spinner" src="/images/tracker/ajax-loader.gif" alt="Loading"/>
    </div>

	<div class="row-fluid">
		<div class="span3">
			<h2>Documentation</h2>
			<div id="filetree"></div>

			<!--
			<ul class="unstyled">
				{% for name, page in pages %}
					<li>
						<a href="{{ uri.base.path }}devdox/{{ page }}">
							{{ name|title }}
						</a>
					</li>
				{% endfor %}
			</ul>
			-->

		</div>
		<div class="span9" id="docuContainer"></div>
	</div>

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplDocuPage">
		<div class="breadcrumb">
			<a class="btn btn-success" href="[%= o.editLink %]">{{ 'Improve'|_ }}</a>
			<a class="btn btn-info pull-right" href="[%= o.permaLink %]">{{ 'Permalink'|_ }}</a>
		</div>

        [%# o.data %]
    </script>
    <script type="text/x-tmpl" id="tplDocuError">
        <div class="alert alert-error">
        [%# o.error %]
        </div>
    </script>

{% endblock %}

{% block JavaScriptBottom %}
{{ parent() }}

    <script src="{{ uri.base.path }}vendor/blueimp-tmpl/js/tmpl{{ jdebug ? "" : ".min" }}.js"></script>
    <script src="{{ uri.base.path }}jtracker/blueimp-tmpl/js/jtracker-tmpl{{ jdebug ? "" : ".min" }}.js"></script>

    <script src="{{ uri.base.path }}jtracker/file-tree/jqueryFileTree.js"></script>

	<script type="text/javascript">
		function loadDocuPage(fullPath) {
			jQuery.ajax({
				url : '{{ uri.base.path }}documentation/show/?' + fullPath,
				beforeSend: function() {
					$('#spinner').show();
				},
				success: function(response) {
					if(response.error)
					{
						jQuery('#docuContainer').html(tmpl("tplDocuError", response));
					}
					else
					{
						jQuery('#docuContainer').html(tmpl("tplDocuPage", response));
						window.history.pushState({},'', '{{ uri.base.path }}documentation/view/?' + fullPath);
					}
				},
				error: (function() {
					alert('error..');
				}),
				complete: function(){
					$('#spinner').hide();
				}
			});
		}

		$(document).ready(function() {
			$('#filetree').fileTree({
				root: '{{ docuBase }}',
				script: '{{ uri.base.path }}filetree',
				multiFolder: false
			}, function(fullPath) {
				loadDocuPage(fullPath);
			});

			//
			// Load a page if the path is given
			// @todo update file tree
			{% if fullPath %}
			loadDocuPage('{{ fullPath|raw }}');
			{% endif %}
		});

	</script>
{% endblock %}
