{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ "%s - Project Activity Chart"|_|format(project.short_title) }}{% endblock %}

{% block headerCSS %}
    <link href="{{ uri.base.path }}jtracker/jqplot/css/jquery.jqplot.min.css" rel="stylesheet" media="screen">
    <link href="{{ uri.base.path }}jtracker/jqplot/css/jquery-ui-1.10.2.custom.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
    <h2>{{ "Project Open & Close Activity - %s"|_|format(project.title) }}</h2>

    <div id="barchart" style="width:700px; height:600px;" data-href="{{ uri.base.path }}activity/project/{{ project.alias }}/query"></div>

    <div>
    	<p>{{ "Note: An issue in the tracker may be closed in one of two ways. It may be fixed with a code change, or it may be closed because it was a duplicate issue or not considered to be a bug."|_ }}</p>
    	<p>{{ "Fixed issues are issues for which a code change was made to fix the issue. Other Closed issues are issues that were closed because they were duplicate reports or not bugs."|_ }}</p>
        <p>{{ "Please note that at this time fixed issues are not correctly tracked and are included in the Other Closed issues count."|_ }}</p>
    </div>

    <h3>{{ "Chart Options"|_ }}</h3>
    <div class="form-inline">
    	<fieldset>
            <label>{{ "Period"|_ }}</label>
            <select id="period" name="period" class="input" size="1">
                <option value="1" selected="selected">{{ "7 Days"|_ }}</option>
                <option value="2">{{ "30 Days"|_ }}</option>
                <option value="3">{{ "90 Days"|_ }}</option>
            </select>

            <button class="btn btn-primary" id="dataUpdate">{{ "Update Chart"|_ }}</button>
    	</fieldset>
    </div>
{% endblock %}

{% block JavaScriptBottom %}

    {{ parent() }}

    <script src="{{ uri.base.path }}jtracker/jqplot/js/jquery.jqplot.min.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/jqplot.barRenderer.min.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/jqplot.pointLabels.min.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/barchart.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="{{ uri.base.path }}jtracker/jqplot/js/jqplot.highlighter.min.js"></script>

    <script>
        (function ($) {
            $(document).ready(function () {
                var barchart = new $.JQPLOTBarchart('barchart', 'barchart', 'vertical', false, '20');

                $('#dataUpdate').click(function () {
                    // add the form variables to the URL
                    var chartContainer = $('#barchart'),
                        period = $('#period').val(),
                        href = '{{ uri.base.path }}activity/project/{{ project.alias }}/query?period=' + period;

                    chartContainer.empty();
                    chartContainer.attr('data-href', href);
                    var barchart = new $.JQPLOTBarchart('barchart', 'barchart', 'vertical', false, '20');
                });
            });
        })(jQuery);
    </script>
{% endblock %}
