{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "%s - Open Issues By Status"|format(project.short_title) }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ "Open Issues By Status - %s"|format(project.title) }}</h1>
    </div>

    <canvas id="barchart"></canvas>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/vendor/chart.js') }}"></script>

    <script type="text/javascript">
        const ctx = document.getElementById('barchart');

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {},
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Total Open Issues By Status',
                        font: {
                            size: '32px',
                        }
                    }
                }
            }
        });

        fetch('{{ uri.base.path }}activity/snapshot/{{ project.alias }}/query')
            .then((response) => response.json())
            .then((json) => {
                const chartData = {
                    labels: json.data[1],
                    datasets: []
                };

                let i = 0;

                while (i < json.data[0].length) {
                    chartData['datasets'].push({
                        label: json.data[2][i]['label'],
                        data: json.data[0][i],
                        borderWidth: 1,
                    })

                    i++
                }

                myChart.data = chartData;
                myChart.update();
            });
    </script>
{% endblock %}
