{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "%s - Total Activity Chart"|_|format(project.short_title) }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/jqplot/jquery.jqplot.min.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui/jquery-ui.min.css', 'debug') }}" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ "Total Activity - %s"|_|format(project.title) }}</h1>
    </div>

    <div id="barchart" style="width:700px; height:600px;" data-href="{{ uri.base.path }}activity/total/{{ project.alias }}/query"></div>

    <br />
    <h2>{{ "Chart Options"|_ }}</h2>
    <div class="form-inline">
    	<fieldset>
    		<label>{{ "Period"|_ }}</label>
    		<select id="period" name="period" class="input" size="1">
    			<option value="1" selected="selected">{{ "7 Days"|_ }}</option>
    			<option value="2">{{ "30 Days"|_ }}</option>
    			<option value="3">{{ "90 Days"|_ }}</option>
    		</select>

    		<label>{{ "Type"|_ }}</label>
    		<select id="type" name="type" class="input-small" size="1">
    			<option value="0" selected="selected">{{ "All"|_ }}</option>
    			<option value="1">{{ "Tracker"|_ }}</option>
    			<option value="2">{{ "Test"|_ }}</option>
    			<!-- <option value="3">{{ "Code"|_ }}</option> -->
    		</select>

    		<button class="btn btn-primary" id="dataUpdate">{{ "Update Chart"|_ }}</button>

    	</fieldset>
    </div>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/jqplot/jquery.jqplot.min.js', 'debug') }}"></script>
    <script src="{{ asset('js/jqplot/jqplot.barRenderer.js', 'debug') }}"></script>
    <script src="{{ asset('js/jqplot/jqplot.categoryAxisRenderer.js', 'debug') }}"></script>
    <script src="{{ asset('js/jqplot/jqplot.pointLabels.js', 'debug') }}"></script>
    <script src="{{ asset('js/jqplot/jqplot.highlighter.js', 'debug') }}"></script>
    <script src="{{ asset('js/jqplot/barchart.js', 'debug') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js', 'debug') }}"></script>

    <script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                var barchart = new $.JQPLOTBarchart('barchart', 'barchart', 'vertical', true, '50');

                $('#dataUpdate').click(function () {
                    // add the form variables to the URL
                    var chartContainer = $('#barchart'),
                        period = $('#period').val(),
                        type = $('#type').val(),
                        href = '{{ uri.base.path }}activity/total/{{ project.alias }}/query?period=' + period + '&activity_type=' + type;

                    chartContainer.empty();
                    chartContainer.attr('data-href', href);

                    barchart = new $.JQPLOTBarchart('barchart', 'barchart', 'vertical', true, '50');
                });
            });
        })(jQuery);
    </script>
{% endblock %}
