{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "%s - User Activity Chart"|format(project.short_title) }}{% endblock %}

{% block headerCSS %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/vendor/datepicker.css') }}" />
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ "User Tracker Activity - %s"|format(project.title) }}</h1>
    </div>

    <canvas id="barchart" style="width:700px; height:600px;"></canvas>

    <br />
    <h2>Chart Options</h2>
    <div class="form-inline">
    	<fieldset>
    		<label for="period">Period</label>
    		<select id="period" name="period" class="form-control form-control-sm d-inline-block w-auto" size="1">
    			<option value="1" selected="selected">7 Days</option>
    			<option value="2">30 Days</option>
    			<option value="3">90 Days</option>
    			<option value="4">1 Year</option>
    			<option value="5">Custom Period</option>
    		</select>

    		<label for="type">Type</label>
    		<select id="type" name="type" class="form-control form-control-sm d-inline-block w-auto" size="1">
    			<option value="0" selected="selected">All</option>
    			<option value="1">Tracker</option>
    			<option value="2">Test</option>
    			<option value="3">Code</option>
    		</select>

    		<button type="button" class="btn btn-primary btn-sm" id="dataUpdate">Update Chart</button>
    		<br />
    		<br />
    		<div id="hidedates" class="form-inline">
    			<label for="start_date">Start Date</label>
    			<input id="start_date" class="datepicker-input input-small" type="text" />
    			<label for="end_date">End Date</label>
    			<input id="end_date" class="datepicker-input input-small" type="text" />
    		</div>

    	</fieldset>
    </div>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/vendor/datepicker.js') }}"></script>
    <script src="{{ asset('js/vendor/datepicker/locales/en-GB.js') }}"></script>
    <script src="{{ asset('js/vendor/chart.js') }}"></script>

    <script type="text/javascript">
        document.getElementById('hidedates').style.display = 'none';

        document.getElementById('period').addEventListener('change', (event) => {
            if (event.target.value === '5') {
                document.getElementById('hidedates').style.removeProperty('display');
            } else {
                document.getElementById('hidedates').style.display = 'none';
            }
        });

        const ctx = document.getElementById('barchart');

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {},
            options: {
                indexAxis: 'y',
                scales: {
                    x: {
                        stacked: true,
                        beginAtZero: true,
                    },
                    y: {
                        stacked: true,
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'All Points for Past 7 Days'
                    }
                }
            }
        });

        function updateChart(){
            const period = document.getElementById('period').value;
            const type = document.getElementById('type').value;
            const start_date = document.getElementById('start_date').value;
            const end_date = document.getElementById('end_date').value;

            // add the form variables to the URL
            let href = '{{ uri.base.path }}activity/user/{{ project.alias }}/query?period=' + period + '&activity_type=' + type;

            if (period === '5') {
                href += '&startdate=' + start_date + '&enddate=' + end_date;
            }

            fetch(href)
                .then((response) => response.json())
                .then((json) => {
                    const chartData = {
                        labels: json.data[1].reverse(),
                        datasets: []
                    };

                    let i = 0;

                    while (i < json.data[0].length) {
                        chartData['datasets'].push({
                            label: json.data[2][i]['label'],
                            data: json.data[0][i].reverse(),
                            borderWidth: 1,
                        })

                        i++
                    }

                    myChart.data = chartData
                    myChart.update();
                });
        }

        // Populate the chart with initial data and set up the click event for any modifications
        document.getElementById('dataUpdate').addEventListener('click', updateChart);
        updateChart();

        const datepickerElements = document.querySelectorAll('.datepicker-input');

        datepickerElements.forEach((elem) => {
            new Datepicker(elem, {
                format: 'yyyy-mm-dd',
                language: 'en-GB',
                buttonClass: 'btn'
            });
        });
    </script>
{% endblock %}
