{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% macro change(name, old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">{{ name|title }}</td>
        <td class="col-md-4 text-center">{{ old }}</td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 text-center">{{ new }}</td>
    </tr>
{% endmacro %}

{% macro description(old, new, cnt) %}
    <tr class="table-sm">
        <td class="col-md-2">Description</td>
        <td colspan="3">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#diff-{{ cnt }}">Differences</button>

            <div id="diff-{{ cnt }}" class="collapse">
                {{ render_diff(old, new) }}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro title(old, new, cnt) %}
    <tr class="table-sm">
        <td class="col-md-2">Title</td>
        <td colspan="4">
            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#diff-{{ cnt }}">Differences</button>

            <div id="diff-{{ cnt }}" class="collapse">
                {{ render_diff(old, new, false, false) }}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro status(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Status</td>
        <td class="col-md-4 alert alert-{{ status(old).closed ? "danger" : "success" }} text-center">{{ status(old).status }}</td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 alert alert-{{ status(new).closed ? "danger" : "success" }} text-center">{{ status(new).status }}</td>
    </tr>
{% endmacro %}

{% macro easy(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Easy</td>
        <td class="col-md-4 text-center">{{ old ? 'Yes' : 'No' }}</td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 text-center">{{ new ? 'Yes' : 'No' }}</td>
    </tr>
{% endmacro %}

{% macro priority(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Priority</td>
        <td class="col-md-4 text-center">
            <span class="badge rounded-pill {{ issue_priority_class(old) }}">{{ issue_priority(old) }}</span>
        </td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 text-center">
            <span class="badge rounded-pill {{ issue_priority_class(new) }}">{{ issue_priority(new) }}</span>
        </td>
    </tr>
{% endmacro %}

{% macro labels(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Labels</td>
        <td colspan="3">
            {% set added = string_array_diff(new, old) %}
            {% if added %}
                Added: {{ issue_labels(added) }}<br />
            {% endif %}
            {% set removed = string_array_diff(old, new) %}
            {% if removed %}
                Removed: {{ issue_labels(removed) }}<br />
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro milestone(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Milestone</td>
        <td colspan="3">
            {% if new %}
                Added: {{ milestone_title(new) }}<br />
            {% endif %}

            {% if old %}
                Removed: {{ milestone_title(old) }}<br />
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro relationType(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Relation Type</td>
        <td class="col-md-4 text-center">{{ issue_relation_type(old) }}</td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 text-center">{{ issue_relation_type(new) }}</td>
    </tr>
{% endmacro %}

{% macro category(old, new) %}
    <tr class="table-sm">
        <td class="col-md-2">Category</td>
        <td class="col-md-4 text-center">
            {% for oldCategory in old %}
                <span class="badge rounded-pill" style="background-color: {{ '#' ~ oldCategory.color }}; color: {{ contrast_color(oldCategory.color) }};">
                    {{ oldCategory.title }}
                </span>
            {% endfor %}
        </td>
        <td class="col-md-1 text-center">&rArr;</td>
        <td class="col-md-4 text-center">
            {% for newCategory in new %}
                <span class="badge rounded-pill" style="background-color: {{ '#' ~ newCategory.color }}; color: {{ contrast_color(newCategory.color) }};">
                    {{ newCategory.title }}
                </span>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}
