{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% macro change(name, old, new) %}
    <tr class="table-condensed">
        <td class="span2">{{ name|title }}</td>
        <td class="span4 center">{{ old }}</td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 center">{{ new }}</td>
    </tr>
{% endmacro %}

{% macro description(old, new, cnt) %}
    <tr class="table-condensed">
        <td class="span2">Description</td>
        <td colspan="3">
            <button type="button" class="btn" data-toggle="collapse" data-target="#diff-{{ cnt }}">Differences</button>

            <div id="diff-{{ cnt }}" class="collapse">
                {{ renderDiff(old, new) }}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro title(old, new, cnt) %}
    <tr class="table-condensed">
        <td class="span2">Title</td>
        <td colspan="4">
            <button type="button" class="btn" data-toggle="collapse" data-target="#diff-{{ cnt }}">Differences</button>

            <div id="diff-{{ cnt }}" class="collapse">
                {{ renderDiff(old, new, false, false) }}
            </div>
        </td>
    </tr>
{% endmacro %}

{% macro status(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Status</td>
        <td class="span4 alert-{{ status(old).closed ? "error" : "success" }} center">{{ status(old).status }}</td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 alert-{{ status(new).closed ? "error" : "success" }} center">{{ status(new).status }}</td>
    </tr>
{% endmacro %}

{% macro easy(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Easy</td>
        <td class="span4 center">{{ old ? 'Yes' : 'No' }}</td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 center">{{ new ? 'Yes' : 'No' }}</td>
    </tr>
{% endmacro %}

{% macro priority(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Priority</td>
        <td class="span4 center">
            <span class="badge {{ issue_priority_class(old) }}">{{ issue_priority(old) }}</span>
        </td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 center">
            <span class="badge {{ issue_priority_class(new) }}">{{ issue_priority(new) }}</span>
        </td>
    </tr>
{% endmacro %}

{% macro labels(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Labels</td>
        <td colspan="3">
            {% set added = arrayDiff(new, old) %}
            {% if added %}
                Added: {{ renderLabels(added)|raw }}<br />
            {% endif %}
            {% set removed = arrayDiff(old, new) %}
            {% if removed %}
                Removed: {{ renderLabels(removed)|raw }}<br />
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro milestone(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Milestone</td>
        <td colspan="3">
            {% if new %}
                Added: {{ milestone_title(new) }}<br />
            {% endif %}

            {% if old %}
                Removed: {{ milestone_title(old) }}<br />
            {% endif %}
        </td>
    </tr>
{% endmacro %}

{% macro relationType(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Relation Type</td>
        <td class="span4 center">{{ issue_relation_type(old) }}</td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 center">{{ issue_relation_type(new) }}</td>
    </tr>
{% endmacro %}

{% macro category(old, new) %}
    <tr class="table-condensed">
        <td class="span2">Category</td>
        <td class="span4 center">
            {% for oldCategory in old %}
                <span class="label" style="background-color: {{ '#' ~ oldCategory.color }}; color: {{ getContrastColor(oldCategory.color) }};">
                    {{ oldCategory.title }}
                </span>
            {% endfor %}
        </td>
        <td class="span1 center">&rArr;</td>
        <td class="span4 center">
            {% for newCategory in new %}
                <span class="label" style="background-color: {{ '#' ~ newCategory.color }}; color: {{ getContrastColor(newCategory.color) }};">
                    {{ newCategory.title }}
                </span>
            {% endfor %}
        </td>
    </tr>
{% endmacro %}
