{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% import "tracker.filters.twig" as filters %}

<div class="filters btn-toolbar clearfix mb-4">
    <div class="clearfix w-100">
        <div class="btn-group" data-bs-toggle="buttons-checkbox" id="filter-state-div">
            <button type="button" class="btn{% if state.get('filter.state') == 0 %} active btn-success{% else %} btn-secondary{% endif %}" value="0">Open</button>
            <button type="button" class="btn{% if state.get('filter.state') == 1 %} active btn-danger{% else %} btn-secondary{% endif %}" value="1">Closed</button>
            <button type="button" class="btn{% if state.get('filter.state') == 2 %} active btn-dark{% else %} btn-secondary{% endif %}" value="2">All</button>
        </div>
        <div id="stools-button" class="btn-group">
            <button type="button" class="btn btn-secondary float-start" data-bs-toggle="collapse" data-bs-target="#stools-container" aria-controls="stools-container" aria-expanded="false">
                Search Tools <span aria-hidden="true" class="fas fa-caret-down"></span>
            </button>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary" id="button-remove" type="button">Clear</button>
        </div>
        <div class="btn-group float-end">
            <a class="btn btn-secondary" id="permalink" href="javascript:">Permalink</a>
            <a class="btn btn-secondary" href="{{ uri.base.path }}tracker/{{ project.alias }}/random">Feeling Lucky</a>
        </div>
    </div>

    <div id="stools-container" class="collapse
            {% if state.get('filter.status')
    or state.get('filter.priority')
    or state.get('filter.search')
    or state.get('filter.sort')
    or state.get('filter.user')
    or state.get('filter.created_by')
    or state.get('filter.category')
    or state.get('filter.tests')
    or state.get('filter.easytest') != 2
    or state.get('filter.type')
    or state.get('filter.milestone')
    or state.get('stools-active') %}
                in
            {% endif %}
            clearfix float-start">
        <div class="filter-search btn-group input-append">
            <label class="filter-search-lbl visually-hidden" for="filter-search">Filter the list by summary or description.</label>
            <input type="text" class="toclear search-query form-control" name="filter-search" id="filter-search" value="{{ state.get('filter.search') }}"
                   title="Filter the list by ID, summary, or description."
                   placeholder="Filter the list by ID, summary, or description."/>
            <button class="btn btn-secondary" type="submit"><span aria-hidden="true" class="fas fa-magnifying-glass"></span></button>
        </div>
        <div class="btn-group">
            {{ filters.type(state.get('filter.type'), 'filter-type', 'toclear input-medium-140 form-select') }}
        </div>
        {% if (state.get('filter.state') == 0) %}
            {% set openState = '' %}
            {% set closedState = ' style="display: none"' %}
            {% set allState = ' style="display: none"' %}
        {% elseif (state.get('filter.state') == 2) %}
            {% set openState = ' style="display: none"' %}
            {% set closedState = ' style="display: none"' %}
            {% set allState = '' %}
        {% else %}
            {% set openState = ' style="display: none"' %}
            {% set closedState = '' %}
            {% set allState = ' style="display: none"' %}
        {% endif %}
        <div id="status-open" class="btn-group"{{ openState|raw }}>
            {{ filters.status(state.get('filter.status'), 'filter-status-open', 'toclear input-medium-160 form-select', 0) }}
        </div>
        <div id="status-closed" class="btn-group"{{ closedState|raw }}>
            {{ filters.status(state.get('filter.status'), 'filter-status-closed', 'toclear input-medium-160  form-select', 1) }}
        </div>
        <div id="status-all" class="btn-group"{{ allState|raw }}>
            {{ filters.status(state.get('filter.status'), 'filter-status-all', 'toclear input-medium-160  form-select', 2) }}
        </div>
        <div class="btn-group">
            {{ filters.category(state.get('filter.category'), 'filter-category', 'toclear selectpicker', project.categories) }}
        </div>
        <div class="btn-group">
            {{ filters.label(state.get('filter.label'), 'filter-label', 'toclear selectpicker', project.labels) }}
        </div>
        <div class="filter-search btn-group input-append">
            <label class="filter-search-lbl visually-hidden" for="filter-created_by">Filter the list by creator.</label>
            <input type="text" class="toclear search-query form-control" name="filter-created_by" id="filter-created_by" value="{{ state.get('filter.created_by') }}"
                   title="Filter the list by creator."
                   placeholder="Filter the list by creator."/>
            <button class="btn btn-secondary" type="submit"><span class="fas fa-magnifying-glass"></span></button>
        </div>
        <div class="btn-group">
            {{ filters.priority(state.get('filter.priority'), 'filter-priority', 'toclear input-small-120 form-select') }}
        </div>
        <div class="btn-group">
            {{ filters.tests(state.get('filter.tests'), 'filter-tests', 'toclear input-medium-140 form-select') }}
        </div>
        <div class="btn-group">
            {{ filters.easytest(state.get('filter.easytest'), 'filter-easytest', 'toclear  form-select') }}
        </div>
        <div class="btn-group">
            {{ filters.milestone(state.get('filter.milestone'), 'filter-milestone', 'toclear selectpicker input-medium-140', project.milestones) }}
        </div>
        {% if user.username %}
            <div class="btn-group">
                {{ filters.user(state.get('filter.user'), 'filter-user', 'input-medium-180 form-select') }}
            </div>
        {% endif %}
        <div class="btn-group">
            {{ filters.sort(state.get('filter.sort'), 'filter-sort', 'input-medium-180 form-select') }}
        </div>
    </div>

    <input type="hidden" name="filter-state" id="filter-state" value="{{ state.get('filter.state') }}"/>
    <input type="hidden" name="stools-active" id="stools-active" value="{{ state.get('stools-active') }}"/>
</div>
