{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

<ul class="nav nav-tabs">
    <li class="active"><a href="#write" data-toggle="tab">{{ "Write"|_ }}</a></li>
    <li><a href="#preview" data-toggle="tab">{{ "Preview"|_ }}</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="write">
        <textarea class="validateDescription"
                  name="{{ editorName }}" id="{{ editorId ? editorId : editorName }}"
                  style="width: 98%; resize: vertical; min-height: 150px;"
                  placeholder="{{ editorPlaceholder }}">{{ editorText }}</textarea>
    </div>
    <div class="tab-pane" style="min-height: 200px;" id="preview"></div>
</div>
