{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% macro input(name, value, type, id, class) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" id="{{ id|default(name) }}" value="{{ value|e }}"{% if class %} class="{{ class }}"{% endif %} />
{% endmacro %}

{% macro textarea(name, value, class) %}
    <textarea name="{{ name }}" id="{{ id|default(name) }}"{% if class %} class="{{ class }}"{% endif %}>{{ value|e }}</textarea>
{% endmacro %}

{% macro label(id, content, class) %}
    <label for="{{ id }}"{% if class %} class="{{ class }}"{% endif %}>{{ content|e }}</label>
{% endmacro %}

{% macro checkbox(name, value, id, class) %}
    <input type="checkbox" name="{{ name }}" id="{{ id|default(name) }}"{% if class %} class="{{ class }}"{% endif %} value="1"{% if value %} checked="checked"{% endif %} />
{% endmacro %}

{% macro select(name, values, value, id, class) %}
    <select name="{{ name }}" id="{{ id|default(name) }}"{% if class %} class="{{ class }}"{% endif %}>
        {% for key, name in values %}
        <option value="{{ key }}"{% if value == key %} selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro radio(name, values, value, id, class) %}
    {% for key, label in values %}
        <label{% if value == key %} class="selected"{% endif %} ><input type="radio" name="{{ name }}" id="{{ id|default(name) ~ key }}" value="{{ key }}"{% if value == key %} checked="checked"{% endif %} /> {{ label }}</label>
    {% endfor %}
{% endmacro %}

{% macro selectequal(name, values, value, id, class) %}
    <select name="{{ name }}" id="{{ id|default(name) }}"{% if class %} class="{{ class }}"{% endif %}>
        {% for key, name in values %}
        <option value="{{ name }}"{% if value == name %} selected="selected"{% endif %}>{{ name }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro selectCategories(name, categories, selecteds, id, class) %}
    <select name="{{ name }}" id="{{ id|default(name) }}" class="selectpicker{% if class %} {{ class }}{% endif %}"
        title="{{ 'Select Categories...'|_ }}"
        data-selected-text-format="count" data-live-search="true" data-width="auto" multiple="multiple">
        {% for category in categories %}
            <option value="{{ category.id }}"
                    {% if category.id in selecteds %} selected="selected"{% endif %}
                    data-content="<span class='label' style='background-color: #{{ category.color }}; color: {{ getContrastColor(category.color) }};'>{{ category.title }}</span>"
                    >
                {{ category.title }}
            </option>
        {% endfor %}
    </select>
{% endmacro %}
