{# GNU General Public License version 2 or later; see LICENSE.txt#}
 <div class=" footer-menu">
    <ul class="nav-inline">
        <li><a href="http://www.joomla.org"><span>{{ "Home"|_ }}</span></a></li>
        <li><a href="http://www.joomla.org/about-joomla.html"><span>{{ "About"|_ }}</span></a></li>
        <li><a href="http://community.joomla.org"><span>{{ "Community"|_ }}</span></a></li>
        <li><a href="http://forum.joomla.org"><span>{{ "Forum"|_ }}</span></a></li>
        <li><a href="http://extensions.joomla.org"><span>{{ "Extensions"|_ }}</span></a></li>
        <li><a href="http://resources.joomla.org"><span>{{ "Resources"|_ }}</span></a></li>
        <li><a href="http://docs.joomla.org"><span>{{ "Docs"|_ }}</span></a></li>
        <li><a href="http://developer.joomla.org"><span>{{ "Developer"|_ }}</span></a></li>
        <li><a href="http://shop.joomla.org"><span>{{ "Shop"|_ }}</span></a></li>
    </ul>

    <ul class="nav-inline">
        <li><a href="http://www.joomla.org/accessibility-statement.html">{{ "Accessibility Statement"|_ }}</a></li>
        <li><a href="http://www.joomla.org/privacy-policy.html">{{ "Privacy Policy"|_ }}</a></li>
        <li><a href="http://www.rochenhost.com/joomla-hosting" target="_blank">{{ "Joomla Hosting by"|_ }} Rochen Ltd.</a></li>
    </ul>

    <p>&copy; 2005 - {{ now|date("Y") }} <a href="http://www.opensourcematters.org">Open Source Matters, Inc.</a> {{ "All rights reserved."|_ }}</p>

    {% if user.isAdmin %}
        <p>Application built on <a href="https://github.com/joomla/jissues/tree/{{ buildSHA }}">joomla/jissues@{{ buildSHA }}</a></p>
    {% endif %}
</div>
