{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blue" />
    <meta property="og:description" content="{% block metaDescription %}Issue tracking platform for the Joomla! project{% endblock %}" />
    <meta property="og:image" content="https://cdn.joomla.org/images/sharing/joomla-org-og.jpg" />
    <meta property="og:site_name" content="Joomla! Issue Tracker" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:url" content="{{ uri.request }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ block('metaDescription') }}" />
    <meta name="twitter:image" content="https://cdn.joomla.org/images/sharing/joomla-twitter-card.png" />
    <meta name="twitter:site" content="@joomla" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    {% block metadata %}{% endblock %}
    {% if useCDN %}
    <link rel="stylesheet" href="https://cdn.joomla.org/template/css/template_4.0.7.min.css" media="screen" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400" />
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/template.min.css', 'debug') }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ asset('css/vendor/octicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jtracker.css', 'debug') }}" />
    <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css', 'debug') }}" />

    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-144-precomposed.png', 'noversion') }}" sizes="144x144" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-114-precomposed.png', 'noversion') }}" sizes="114x114" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-72-precomposed.png', 'noversion') }}" sizes="72x72" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-57-precomposed.png', 'noversion') }}" />
    <style type="text/css">
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    {% block headerCSS %}{% endblock %}
    <title>{% block title %}Joomla! Issue Tracker{% endblock %}</title>
</head>
<body class="site app-{{ app }} view-{{ view }} layout-{{ layout }}">
    <!-- Google Tag Manager -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M7HXQ7" height="0" width="0" style="display:none;visibility:hidden" title="Google Tag Manager"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M7HXQ7');</script>
    <!-- End Google Tag Manager -->
    {% block nav %}
        <nav class="navigation" role="navigation" aria-label="Quick Links to Joomla Official Websites">
            <div id="mega-menu" class="navbar navbar-expand-md py-md-1">
                <div class="container-xxl">
                    {% block topnav %}
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#primaryMenu" aria-controls="primaryMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        {{ cdn_menu() }}
                    {% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}

    <header class="header">
        <div class="container-md">
            <div class="row">
                {% block header %}
                    <div class="col-md-7">
                        <h1 class="page-title"><a href="{{ uri.base.path }}">Joomla! Issue Tracker{% block headerText %}{% endblock %}</a></h1>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-toolbar pt-md-1 row">
                            <div class="btn-group col-6">
                                <a href="https://downloads.joomla.org" class="btn btn-lg btn-warning">Download</a>
                            </div>
                            <div class="btn-group col-6">
                                <a href="https://launch.joomla.org" class="btn btn-lg btn-primary">Launch<span class="fas fa-rocket ms-2" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>

    <div class="subnav-wrapper">
        <div class="subnav">
            <div class="container-md">
                {% block subnav %}
                    <ul class="nav menu nav-pills">
                        {% block prependMenu %}{% endblock %}
                        {% include "trackerMenu.twig" %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="body">
        <div class="container">
            {% for type, messages in flash_messages() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <noscript><h2 class="alert">Please activate JavaScript in your browser.</h2></noscript>

            {% block content %}{% endblock %}

            <!-- @todo find a way to replace debug output after processing the renderer -->
            <div class="debug">%%%DEBUG%%%</div>

        </div>
    </div>

    <footer class="footer text-center">
        <div class="container">
            {% block footer %}
                <hr />
                {{ cdn_footer() }}
            {% endblock %}
        </div>
    </footer>

{% block JavaScriptBottom %}
    <script src="{{ asset('js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/vendor/skipto.min.js') }}"></script>
    <script src="{{ asset('js/vendor/blueimp-tmpl.js') }}"></script>
    <script src="{{ asset('js/jtracker.js') }}"></script>

    <script type="text/javascript">
        var SkipToConfig =  {
          'settings': {
            'skipTo': {
              enableActions: false,
              enableHeadingLevelShortcuts: false,
              accesskey: '9',
              displayOption: 'popup',
              headings: 'h1, h2, h3',
              landmarks: 'main, nav, search, aside, header, footer, form',
              attachElement: '.navigation',
              asideLabel: 'Aside',
              headerLabel: 'Header',
              footerLabel: 'Footer'
            }
          }
        };
        window.addEventListener('DOMContentLoaded', (event) => {
            processScrollInit();

            function processScrollInit() {
                // This width corresponds to the sm width in bootstrap css at which point the nav becomes sticky
                if (document.body.clientWidth > 575) {
                    const subnav = document.querySelector('.subnav-wrapper');
                    subnav.style.top = `${document.getElementById('mega-menu').offsetHeight}px`
                }
            }
        });
    </script>
{% endblock %}
</body>
</html>
