{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}
<!DOCTYPE html>
<html lang="{{ lang|split("-")|first }}" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blue" />
    <meta property="og:description" content="{% block metaDescription %}Issue tracking platform for the Joomla! project{% endblock %}" />
    <meta property="og:image" content="https://cdn.joomla.org/images/joomla-org-og.jpg" />
    <meta property="og:site_name" content="Joomla! Issue Tracker" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:url" content="{{ uri.request }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{ block('metaDescription') }}" />
    <meta name="twitter:image" content="https://cdn.joomla.org/images/joomla-twitter-card.jpg" />
    <meta name="twitter:site" content="@joomla" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    {% block metadata %}{% endblock %}
    {% if useCDN %}
    <link rel="stylesheet" href="https://cdn.joomla.org/template/css/v3_template.min.css?v1.3.4" media="screen" />
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/template.css') }}" />
    {% endif %}

    {# If in debug mode, load each file individually, otherwise load the combined source #}
    {% if templateDebug %}
    <link rel="stylesheet" href="{{ asset('css/vendor/semantic-ui-transition/transition.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/semantic-ui-dropdown/dropdown.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/vendor/octicons/octicons/octicons.css') }}" />
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/vendor.min.css') }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ asset('css/jtracker.css') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('images/apple-touch-icon-144-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('images/apple-touch-icon-114-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('images/apple-touch-icon-72-precomposed.png') }}" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('images/apple-touch-icon-57-precomposed.png') }}" />
    {% if useCDN %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    {% endif %}
    <style type="text/css">
        h1, h2, h3, h4, h5, h6, .site-title {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    {% block headerCSS %}{% endblock %}
    <title>{% block title %}Joomla! Tracker{% endblock %}</title>
</head>
<body class="site">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M7HXQ7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-M7HXQ7');</script>
    <!-- End Google Tag Manager -->
    {% block nav %}
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {% block topnav %}
                        {% include "topMenu.twig" %}
                    {% endblock %}
                </div>
            </div>
        </nav>
    {% endblock %}

    <header class="header">
        <div class="container">
            <div class="row-fluid">
                {% block header %}
                    <div class="span7">
                        <h1 class="page-title"><a href="{{ uri.base.path }}">Joomla! Issue Tracker{% block headerText %}{% endblock %}</a></h1>
                    </div>
                    <div class="span5">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <a href="https://www.joomla.org/download.html" class="btn btn-large btn-warning">{{ "Download"|_ }}</span></a>
                            </div>
                            <div class="btn-group">
                                <a href="https://demo.joomla.org" class="btn btn-large btn-primary">{{ "Demo"|_ }}</span></a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>

    <div class="subnav-wrapper">
        <div class="subnav">
            <div class="container">
                {% block subnav %}
                    <ul class="nav menu nav-pills">
                        {% block prependMenu %}{% endblock %}
                        {% include "trackerMenu.twig" %}
                        {% include "lang-switcher.twig" %}
                    </ul>
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="body">
        <div class="container">
            {% for type, flashMessages in flashBag %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}

            <noscript><h2 class="alert">Please activate JavaScript in your browser.</h2></noscript>

            {% block content %}{% endblock %}

            <!-- @todo find a way to replace debug output after processing the renderer -->
            <div class="debug">%%%DEBUG%%%</div>

        </div>
    </div>

    <div class="footer center">
        <div class="container">
            {% block footer %}
                {% include "footerMenu.twig" %}
            {% endblock %}
        </div>
    </div>

{% block JavaScriptBottom %}
    {# If the template is in debug mode, load each file individually, otherwise load the combined source #}
    {% if templateDebug %}
    <script src="{{ asset('js/vendor/jquery/jquery.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap/js/bootstrap-affix.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap/js/bootstrap-dropdown.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap/js/bootstrap-tab.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap/js/bootstrap-collapse.js') }}"></script>
    <script src="{{ asset('js/vendor/semantic-ui-transition/transition.js') }}"></script>
    <script src="{{ asset('js/vendor/semantic-ui-dropdown/dropdown.js') }}"></script>
    <script src="{{ asset('js/vendor/g11n-js/js/g11n.js') }}"></script>
    <script src="{{ asset('js/vendor/g11n-js/js/methods.js') }}"></script>
    <script src="{{ asset('js/vendor/g11n-js/js/phpjs.js') }}"></script>
    {% else %}
    <script src="{{ asset('js/vendor.min.js') }}"></script>
    {% endif %}

    <script src="{{ asset('js/jtracker' ~ (templateDebug ? '' : '.min') ~ '.js') }}"></script>

    <script type="text/javascript">{{ g11nJavaScript|raw }}</script>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var navTop;
            var isFixed = false;

            $('.hasTooltip').tooltip();
            processScrollInit();
            processScroll();

            function processScrollInit() {
                if ($('.subnav-wrapper').length) {
                    navTop = $('.subnav-wrapper').length && $('.subnav-wrapper').offset().top - 30;

                    // Fix the container top
                    $('.body .container-main').css('top', $('.subnav-wrapper').height() + $('nav.navbar').height());

                    // Only apply the scrollspy when the toolbar is not collapsed
                    if (document.body.clientWidth > 480) {
                        $('.subnav-wrapper').height($('.subnav').outerHeight());
                        $('.subnav').affix({
                            offset: {top: $('.subnav').offset().top - $('nav.navbar').height()}
                        });
                    }
                }
            }

            function processScroll() {
                if ($('.subnav-wrapper').length) {
                    var scrollTop = $(window).scrollTop();
                    if (scrollTop >= navTop && !isFixed) {
                        isFixed = true;
                        $('.subnav-wrapper').addClass('subhead-fixed');

						// Fix the container top
						$('.body .container-main').css('top', $('.subnav-wrapper').height() + $('nav.navbar').height());
                    } else if (scrollTop <= navTop && isFixed) {
                        isFixed = false;
                        $('.subnav-wrapper').removeClass('subhead-fixed');
                    }
                }
            }

            $('#lang-switcher').dropdown({
                action: 'select'
            });
        });
    </script>

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-544070-33', 'auto');
        ga('send', 'pageview');

    </script>
{% endblock %}
</body>
</html>
