{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% set baseURI = uri.base.path ~ uri.route|split("?")|first %}

<li class="pull-right lang-select dropdown-toggle">
    <div id="lang-switcher" class="ui floating dropdown labeled search icon button">
        <img src="{{ uri.base.path }}media/img/1x1.png" class="flag flag-{{ lang }}" alt="{{ lang }}" title="{{ lang }}" />
        <span class="text">{{ "Select Language"|_ }}</span>
        <span class="caret"></span>
        <div class="menu">
            {% for tag, l in languages %}
                {% if tag != lang %}
                    <a class="item" href="{{ baseURI }}?lang={{ tag }}" title="{{ l['name'] }}">
                        <img src="{{ uri.base.path }}media/img/1x1.png" class="flag flag-{{ tag }}" />
                        {{ l['display'] }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</li>