{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

<ul class="nav menu nav-pills">
    <li class="{{ "" == uri.route or "tracker" == uri.route|split("/")|first ? "active" : "" }}">
        <a href="{{ uri.base.path }}tracker">Tracker</a>
    </li>
    <li class="{{ "projects" == uri.route or "project" == uri.route|split("/")|first ? "active" : "" }}">
        <a href="{{ uri.base.path }}projects">Projects</a>
    </li>
    <li class="{{ "users" == uri.route or "user" == uri.route|split("/")|first ? "active" : "" }}">
        <a href="{{ uri.base.path }}users">Users</a>
    </li>
    <li class="{{ "markdownpreview" == uri.route ? "active" : "" }}">
        <a href="{{ uri.base.path }}markdownpreview">MDPreview</a>
    </li>

    {% if user.admin %}
        <li class="{{ "config" == uri.route ? "active" : "" }}">
            <a href="{{ uri.base.path }}config">Config</a>
        </li>
    {% endif %}

    {% if user.id %}
    <li class="dropdown pull-right">
        <a class="dropdown-toggle btn btn-small" data-toggle="dropdown" href="../index.php#">{{ user.username }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ uri.base.path }}user">Profile</a></li>
            <li class="divider"><span></span></li>
            <li><a href="{{ uri.base.path }}logout">Logout </a>
            </li>
        </ul>
    </li>
{% else %}
    <li class="pull-right">
        <a class="btn btn-success btn-small login" href="{{ loginUrl }}">Login with GitHub</a>
    </li>
{% endif %}
</ul>
