{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% set firstPart = uri.route|split("?")|first|split("/")|first %}

<li{{ "" == uri.route or "tracker" == firstPart ? ' class="active"' : "" }}>
    <a class="nav-link" href="{{ uri.base.path }}tracker/{{ project.alias }}">Tracker</a>
</li>
{% if project.project_id %}
    <li class="dropdown{{ firstPart in ['project', 'activity', 'category'] ? " active" : "" }}">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Project <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li class="nav-header">{{ project.title }}</li>
            <li class="dropdown-divider"><span></span></li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}project/{{ project.alias }}"><span aria-hidden="true" class="fas fa-eye"></span> Show</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}activity/project/{{ project.alias }}"><span aria-hidden="true" class="fas fa-chart-line"></span> Project Activity</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}activity/snapshot/{{ project.alias }}"><span aria-hidden="true" class="fas fa-chart-line"></span> Snapshot</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}activity/user/{{ project.alias }}"><span aria-hidden="true" class="fas fa-chart-line"></span> User Activity</a>
            </li>

            {% if user.check("admin") %}
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}project/{{ project.alias }}/edit"><span aria-hidden="true" class="fas fa-pencil"></span> Edit</a>
            </li>
            {% endif %}

            {% if user.check("manage") %}
            <li class="dropdown-divider"><span></span></li>

            <li{{ "project/" ~ project.alias ~ "/groups" == firstPart ? ' class="active"' : "" }}>
                <a class="dropdown-item" href="{{ uri.base.path }}project/{{ project.alias }}/groups"><span aria-hidden="true" class="fas fa-users"></span> Access Groups</a>
            </li>
            <li{{ "project/" ~ project.alias ~ "/labels" == firstPart ? ' class="active"' : "" }}>
                <a class="dropdown-item" href="{{ uri.base.path }}project/{{ project.alias }}/labels"><span aria-hidden="true" class="fas fa-tag"></span> Labels</a>
            </li>
            <li{{ "project/" ~ project.alias ~ "/milestones" == firstPart ? ' class="active"' : "" }}>
                <a class="dropdown-item" href="{{ uri.base.path }}project/{{ project.alias }}/milestones"><span aria-hidden="true" class="octicon octicon-milestone"></span> Milestones</a>
            </li>
            <li{{ "category/" ~ project.alias == firstPart ? ' class="active"' : "" }}>
                <a class="dropdown-item" href="{{ uri.base.path }}category/{{ project.alias }}"><span aria-hidden="true" class="fas fa-tag"></span> Categories</a>
            </li>
            {% endif %}
        </ul>
    </li>
{% endif %}

<li class="{{ "projects" == firstPart ? "active" : "" }}">
    <a class="nav-link" href="{{ uri.base.path }}projects">Projects</a>
</li>

{% if user.isAdmin %}
    <li class="dropdown{{ firstPart in ['icons', 'text'] ? ' active' : '' }}">
        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">System <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="{{ "icons" == firstPart ? "active" : "" }}">
                <a class="dropdown-item" href="{{ uri.base.path }}icons"><span aria-hidden="true" class="fas fa-face-smile"></span> Icons</a>
            </li>
            <li class="{{ "articles" == firstPart ? "active" : "" }}">
                <a class="dropdown-item" href="{{ uri.base.path }}articles"><span aria-hidden="true" class="fas fa-pencil"></span> Text</a>
            </li>
        </ul>
    </li>
{% endif %}

<li class="dropdown{{firstPart in ['documentation'] or uri.route == 'page/about' ? ' active' : '' }}">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">/etc <span class="caret"></span></a>

    <ul class="dropdown-menu">
        <li class="{{ "page/about" == uri.route ? "active" : "" }}">
            <a class="dropdown-item" href="{{ uri.base.path }}page/about">About</a>
        </li>
        <li class="{{ "documentation" == firstPart ? "active" : "" }}">
            <a class="dropdown-item" href="{{ uri.base.path }}documentation">Documentation</a>
        </li>
    </ul>
</li>

{# @todo If an Exception is thrown, this information is not available #}
{% if not exception %}
    {% if user.id %}
    <li class="dropdown ms-auto">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Account <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if user.isAdmin %}
                <li class="nav-header"><span aria-hidden="true" class="fas fa-user"></span> Admin</li>
            {% endif %}
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}account"><span aria-hidden="true" class="fas fa-user"></span> View profile</a>
            </li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}account/edit"><span aria-hidden="true" class="fas fa-user"></span> Edit profile</a>
            </li>
            <li class="dropdown-divider"><span></span></li>
            <li>
                <a class="dropdown-item" href="{{ uri.base.path }}logout"><span aria-hidden="true" class="fas fa-lock"></span> Logout</a>
            </li>
        </ul>
    </li>
    {% else %}
    <li class="ms-auto">
        {% if loginUrl %}
            <a class="nav-link bg-success" href="{{ loginUrl }}">Login with GitHub</a>
        {% else %}
            <a class="nav-link bg-danger" href="#">No GitHub credentials set in config</a>
        {% endif %}
    </li>
    {% endif %}
{% endif %}
