{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% set firstPart = uri.route|split("?")|first|split("/")|first %}

<li class="{{ "" == uri.route or "tracker" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}tracker/{{ project.alias }}">
        {{ "Tracker"|_ }}
    </a>
</li>
{% if project.project_id %}
    <li class="dropdown {{ "project" == firstPart ? "active" : "" }}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ "Project"|_ }}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li class="nav-header">{{ project.title }}</li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}">
                    <i class="icon-eye"></i>
                    {{ "Show"|_ }}
                </a>
            </li>

            {% if user.check("admin") %}
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/edit">
                    <i class="icon-pencil"></i>
                    {{ "Edit"|_ }}
                </a>
            </li>
            {% endif %}

            {% if user.check("manage") %}
            <li class="divider"><span></span></li>

            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/groups">
                    <i class="icon-user-2"></i>
                    {{ "Access Groups"|_ }}
                </a>
            </li>
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/labels">
                    <i class="icon-tag"></i>
                    {{ "Labels"|_ }}
                </a>
            </li>
            <li>
                <a href="{{ uri.base.path }}category/{{ project.alias }}">
                        <i class="icon-tag"></i>
                        {{ "Categories"|_ }}
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
{% endif %}

<li class="{{ "projects" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}projects">
        {{ "Projects"|_ }}
    </a>
</li>
<li class="{{ firstPart in ['users', 'user'] ? "active" : "" }}">
    <a href="{{ uri.base.path }}users">
        {{ "Users"|_ }}
    </a>
</li>

{% if user.isAdmin %}
    <li class="dropdown{{ firstPart in ['config', 'text', 'icons', 'logs'] ? " active" : "" }}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ "System"|_ }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="{{ "config" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}config">
                    <i class="icon-dashboard"></i>
                    {{ "Configuration"|_ }}
                </a>
            </li>
            <li class="{{ "phpinfo" == uri.route ? "active" : "" }}">
                <a href="{{ uri.base.path }}phpinfo">
                    <i class="icon-code"></i>
                    {{ "phpinfo()"|_ }}
                </a>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">
                    <i class="icon-copy"></i>
                    {{ "Logs"|_ }}
                </a>
                <ul class="dropdown-menu">
                    <li class="{{ "logs/403" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/403">403</a>
                    </li>
                    <li class="{{ "logs/404" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/404">404</a>
                    </li>
                    <li class="{{ "logs/500" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/500">500</a>
                    </li>
                    <li class="{{ "logs/cron" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/cron">{{ "Cron Jobs"|_ }}</a>
                    </li>
                    <li class="{{ "logs/database" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/database">
                            <i class="icon-database"></i>
                            {{ "Database"|_ }}
                        </a>
                    </li>
                    <li class="{{ "logs/github_issues" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_issues">
                            <i class="icon-github"></i>
                            {{ "GitHub Issues"|_ }}
                        </a>
                    </li>
                    <li class="{{ "logs/github_comments" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_comments">
                            <i class="icon-github"></i>
                            {{ "GitHub Comments"|_ }}
                        </a>
                    </li>
                    <li class="{{ "logs/github_pulls" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_pulls">
                            <i class="icon-github"></i>
                            {{ "GitHub Pulls"|_ }}
                        </a>
                    </li>
                    <li class="{{ "logs/php" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/php">{{ "PHP"|_ }}</a>
                    </li>
                    <li class="{{ "logs/error" == uri.route ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/error">{{ "Error"|_ }}</a>
                    </li>
                </ul>
            </li>
            <li class="{{ "icons" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}icons">
                    <i class="icon-happy"></i>
                    {{ "Icons"|_ }}
                </a>
            </li>
            <li class="{{ "routes" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}routes">
                    <i class="icon-link"></i>
                    {{ "Routes"|_ }}
                </a>
            </li>
            <li class="{{ "text" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}text">
                    <i class="icon-pencil-2"></i>
                    {{ "Text"|_ }}
                </a>
            </li>
            <li class="{{ "clearcache" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}clearcache">
                    <i class="icon-pencil-2"></i>
                    {{ "Clear Cache"|_ }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}

<li class="dropdown {{firstPart in ['page/about', 'markdown', 'devdox'] ? 'active' : '' }}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        /etc
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">

        <li class="{{ "page/about" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}page/about">
                {{ "About Us"|_ }}
            </a>
        </li>
        <li class="{{ "markdown" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}markdown">
                {{ "Markdown"|_ }}
            </a>
        </li>
        <li class="{{ "documentation" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}documentation">
                {{ "Documentation"|_ }}
            </a>
        </li>

    </ul>
</li>

{# @todo If an Exception is thrown, this information is not available #}
{% if not exception %}
    {% if user.id %}
    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ avatar(user.username, 20)|raw }}
            &nbsp;
            {{ user.username }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% if user.isAdmin %}
                <li class="nav-header"><i class="icon-user-3"></i> {{ "Admin"|_ }}</li>
            {% endif %}
            <li>
                <a href="{{ uri.base.path }}user/{{ user.id }}">
                    <i class="icon-user"></i>
                    {{ "View profile"|_ }}
                </a>
            </li>
            <li>
                <a href="{{ uri.base.path }}user/{{ user.id }}/edit">
                    <i class="icon-user"></i>
                    {{ "Edit profile"|_ }}
                </a>
            </li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}logout">
                    <i class="icon-lock"></i>
                    {{ "Logout"|_ }}
                </a>
            </li>
        </ul>
    </li>
    {% else %}
    <li class="pull-right">
        {% if loginUrl %}
            <a class="btn-success" href="{{ loginUrl }}">
                {{ "Login with GitHub"|_ }}
            </a>
        {% else %}
            <a class="btn-danger" href="#">
                {{ 'No GitHub credentials set in config'|_ }}
            </a>
        {% endif %}
    </li>
    {% endif %}
{% endif %}
