{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% set firstPart = uri.route|split("?")|first|split("/")|first %}

<li{{ "" == uri.route or "tracker" == firstPart ? ' class="active"' : "" }}>
    <a href="{{ uri.base.path }}tracker/{{ project.alias }}">Tracker</a>
</li>
{% if project.project_id %}
    <li class="dropdown{{ firstPart in ['project', 'activity', 'category'] ? " active" : "" }}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Project <span class="caret"></span></a>

        <ul class="dropdown-menu">
            <li class="nav-header">{{ project.title }}</li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}"><i class="icon-eye"></i> Show</a>
                <a href="{{ uri.base.path }}activity/project/{{ project.alias }}"><i class="icon-stats-growth"></i> Project Activity</a>
                <a href="{{ uri.base.path }}activity/snapshot/{{ project.alias }}"><i class="icon-stats-growth"></i> Snapshot</a>
                <a href="{{ uri.base.path }}activity/user/{{ project.alias }}"><i class="icon-stats-growth"></i> User Activity</a>
            </li>

            {% if user.check("admin") %}
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/edit"><i class="icon-pencil"></i> Edit</a>
            </li>
            {% endif %}

            {% if user.check("manage") %}
            <li class="divider"><span></span></li>

            <li{{ "project/" ~ project.alias ~ "/groups" == firstPart ? ' class="active"' : "" }}>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/groups"><i class="icon-user-2"></i> Access Groups</a>
            </li>
            <li{{ "project/" ~ project.alias ~ "/labels" == firstPart ? ' class="active"' : "" }}>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/labels"><i class="icon-tag"></i> Labels</a>
            </li>
            <li{{ "project/" ~ project.alias ~ "/milestones" == firstPart ? ' class="active"' : "" }}>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/milestones"><i class="octicon octicon-milestone"></i> Milestones</a>
            </li>
            <li{{ "category/" ~ project.alias == firstPart ? ' class="active"' : "" }}>
                <a href="{{ uri.base.path }}category/{{ project.alias }}"><i class="icon-tag"></i> Categories</a>
            </li>
            {% endif %}
        </ul>
    </li>
{% endif %}

<li class="{{ "projects" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}projects">Projects</a>
</li>

{% if user.isAdmin %}
    <li class="dropdown{{ firstPart in ['icons', 'text'] ? ' active' : '' }}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">System <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="{{ "icons" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}icons"><i class="icon-smiley-2"></i> Icons</a>
            </li>
            <li class="{{ "articles" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}articles"><i class="icon-pencil-2"></i> Text</a>
            </li>
        </ul>
    </li>
{% endif %}

<li class="dropdown{{firstPart in ['documentation'] or uri.route == 'page/about' ? ' active' : '' }}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">/etc <span class="caret"></span></a>

    <ul class="dropdown-menu">
        <li class="{{ "page/about" == uri.route ? "active" : "" }}">
            <a href="{{ uri.base.path }}page/about">About</a>
        </li>
        <li class="{{ "documentation" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}documentation">Documentation</a>
        </li>
    </ul>
</li>

{# @todo If an Exception is thrown, this information is not available #}
{% if not exception %}
    {% if user.id %}
    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">Account <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if user.isAdmin %}
                <li class="nav-header"><i class="icon-user-3"></i> Admin</li>
            {% endif %}
            <li>
                <a href="{{ uri.base.path }}account"><i class="icon-user"></i> View profile</a>
            </li>
            <li>
                <a href="{{ uri.base.path }}account/edit"><i class="icon-user"></i> Edit profile</a>
            </li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}logout"><i class="icon-lock"></i> Logout</a>
            </li>
        </ul>
    </li>
    {% else %}
    <li class="pull-right">
        {% if loginUrl %}
            <a class="btn-success" href="{{ loginUrl }}">Login with GitHub</a>
        {% else %}
            <a class="btn-danger" href="#">No GitHub credentials set in config</a>
        {% endif %}
    </li>
    {% endif %}
{% endif %}
