{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt#}

{% set firstPart = uri.route|split("?")|first|split("/")|first %}

<li class="{{ "" == uri.route or "tracker" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}tracker/{{ project.alias }}">
        {{ "Tracker"|_ }}
    </a>
</li>
{% if project.project_id and user.check("manage") %}
    <li class="dropdown {{ "project" == firstPart ? "active" : "" }}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ "Project"|_ }}
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li class="nav-header">{{ project.title }}</li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}">
                    <i class="icon-eye"></i>
                    {{ "Show"|_ }}
                </a>
            </li>

            {% if user.check("admin") %}
                <li>
                    <a href="{{ uri.base.path }}project/{{ project.alias }}/edit">
                        <i class="icon-pencil"></i>
                        {{ "Edit"|_ }}
                    </a>
                </li>
            {% endif %}

            <li class="divider"><span></span></li>

            <li>
                <a href="{{ uri.base.path }}project/{{ project.alias }}/groups">
                    <i class="icon-user-2"></i>
                    {{ "Access Groups"|_ }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}

<li class="{{ "projects" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}projects">
        {{ "Projects"|_ }}
    </a>
</li>
<li class="{{ "users" == firstPart or "user" == firstPart ? "active" : "" }}">
    <a href="{{ uri.base.path }}users">
        {{ "Users"|_ }}
    </a>
</li>

{% if user.isAdmin %}
    <li class="dropdown
    {{ "config" == firstPart
    or "text" == firstPart
    or "icons" == firstPart
    or "logs" == firstPart
    ? " active"
    : "" }}
    ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ "System"|_ }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="{{ "config" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}config">
                    <i class="icon-dashboard"></i>
                    {{ "Configuration"|_ }}
                </a>
            </li>
            <li class="{{ "phpinfo" == uri.route ? "active" : "" }}">
                <a href="{{ uri.base.path }}phpinfo">
                    <i class="icon-code"></i>
                    phpinfo()
                </a>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">
                    <i class="icon-copy"></i>
                    Logs
                </a>
                <ul class="dropdown-menu">
                    <li class="{{ "logs/403" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/403">403</a>
                    </li>
                    <li class="{{ "logs/404" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/404">404</a>
                    </li>
                    <li class="{{ "logs/500" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/500">500</a>
                    </li>
                    <li class="{{ "logs/database" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/database">
                            <i class="icon-database"></i>
                            {{ "Database"|_ }}
                        </a>
                    </li>
                    <li class="{{ "logs/github_issues" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_issues">
                            <i class="icon-github"></i>
                            GitHub Issues
                        </a>
                    </li>
                    <li class="{{ "logs/github_comments" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_comments">
                            <i class="icon-github"></i>
                            GitHub Comments
                        </a>
                    </li>
                    <li class="{{ "logs/github_pulls" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/github_pulls">
                            <i class="icon-github"></i>
                            GitHub Pulls
                        </a>
                    </li>
                    <li class="{{ "logs/php" == firstPart ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/php">PHP</a>
                    </li>
                    <li class="{{ "logs/error" == uri.route ? "active" : "" }}">
                        <a href="{{ uri.base.path }}logs/error">Error</a>
                    </li>
                </ul>
            </li>
            <li class="{{ "icons" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}icons">
                    <i class="icon-happy"></i>
                    {{ "Icons"|_ }}
                </a>
            </li>
            <li class="{{ "text" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}text">
                    <i class="icon-pencil-2"></i>
                    {{ "Text"|_ }}
                </a>
            </li>
            <li class="{{ "clearcache" == firstPart ? "active" : "" }}">
                <a href="{{ uri.base.path }}clearcache">
                    <i class="icon-pencil-2"></i>
                    {{ "Clear Cache"|_ }}
                </a>
            </li>
        </ul>
    </li>
{% endif %}

<li class="dropdown {{
"page/about" == firstPart
or "markdown" == firstPart
or "devdox" == firstPart
? "active" : ""
}}">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
        /etc
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">

        <li class="{{ "page/about" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}page/about">
                {{ "About Us"|_ }}
            </a>
        </li>
        <li class="{{ "markdown" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}markdown">
                Markdown
            </a>
        </li>
        <li class="{{ "devdox" == firstPart ? "active" : "" }}">
            <a href="{{ uri.base.path }}devdox">
                Dev Dox
            </a>
        </li>

    </ul>
</li>

{% if user.id %}
    <li class="dropdown pull-right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
            {{ avatar(user.username, 20)|raw }}
            &nbsp;
            {{ user.username }}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            {% if user.isAdmin %}
                <li class="nav-header"><i class="icon-user-3"></i> {{ "Admin"|_ }}</li>
            {% endif %}
            <li>
                <a href="{{ uri.base.path }}user">
                    <i class="icon-user"></i>
                    {{ "Profile"|_ }}
                </a>
            </li>
            <li class="divider"><span></span></li>
            <li>
                <a href="{{ uri.base.path }}logout">
                    <i class="icon-lock"></i>
                    {{ "Logout"|_ }}
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li class="pull-right">
        <a class="btn-success" href="{{ loginUrl }}">
            {{ "Login with GitHub"|_ }}
        </a>
    </li>
{% endif %}
