{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ '%s - Labels'|format(project.title) }}{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>{{ '%s - Labels'|format(project.title) }}</h1>
    </div>

    <div class="btn btn-secondary" onclick="listLabels('{{ project.alias }}');">List Labels</div>

    <div id="listLabels"></div>
    <div id="ajaxDebug" class="alert-danger"></div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">New Label</h2>

            <form name="newLabel" class="form-inline">
                <div class="row">
                    <div class="col-md-5">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Label name"/>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label" for="color_display">Colour</label>
                        <input class="color_select" id="color" value="#{{ item.color }}"/>
                        <input class="form-control" type="text" name="color" id="color_display" placeholder="Label colour"/>
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-lg btn-success" onclick="addLabel('{{ project.alias }}');">Add Label</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- ++++++++++++++++++++++++++ -->
    <!-- +  JavaScript templates  + -->
    <!-- ++++++++++++++++++++++++++ -->

    <script type="text/x-tmpl" id="tplLabels">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>URL</th>
                <th>Name</th>
                <th>Colour</th>
            </tr>
            </thead>

            <tbody>
            [% for (var i=0; i < o.data.length; i++) { %]
            <tr>
                <td>[%= o.data[i].url %]</td>
                <td>[%= o.data[i].name %]</td>
                <td style="border: 1px solid silver; color: [% print(getContrastYIQ(o.data[i].color)); %];); background-color: #[%= o.data[i].color %];">[%= o.data[i].color %]</td>
                <td>
                    <a href="javascript:" onclick="deleteLabel('{{ project.alias }}', '[%= o.data[i].name %]');">Delete</a>
                </td>
            </tr>
            [% } %]
            </tbody>
        </table>
    </script>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script src="{{ asset('js/jtracker-tmpl.js', 'debug') }}"></script>
    <script src="{{ asset('js/color-select.js', 'debug') }}"></script>

    <script type="text/javascript">

        /**
         * List hooks.
         *
         * @param alias
         *
         * @since  1.0
         */
        function listLabels(alias) {
            var out = $('#listLabels');
            var debug = $('#ajaxDebug');

            out.html('Requesting...');
            debug.empty();

            $.get(
                    '{{ uri.base.path }}project/' + alias + '/labels-list',
                    {  },
                    function (response) {
                        out.empty();
                        if (response.error) {
                            debug.html(response.error);
                        }
                        else if (!response.data.length) {
                            out.html('No labels found.');
                        }
                        else {
                            out.html(tmpl("tplLabels", response));
                        }
                    }
            );
        }

        /**
         * Add a label.
         *
         * @param alias
         *
         * @since  1.0
         */
        function addLabel(alias) {

            var out = $('#listLabels');
            var debug = $('#ajaxDebug');

            var name = $('input[name="name"]').val();
            var color = $('input[name="color"]').val();

            out.html('Requesting...');
            debug.empty();

            $.get(
                    '{{ uri.base.path }}project/' + alias + '/labels-add',
                    { name: name, color: color },
                    function (response) {
                        out.empty();
                        if (response.error) {
                            debug.html(response.error);
                        }
                        else if (!response.data.length) {
                            out.html('No labels found.');
                        }
                        else {
                            out.html(tmpl("tplLabels", response));
                        }
                    }
            );
        }

        /**
         * Modify a hook.
         *
         * @param alias
         *
         * @since  1.0
         */
        function deleteLabel(alias, name) {
            var out = $('#listLabels');
            var debug = $('#ajaxDebug');

            out.html('Requesting...');
            debug.empty();

            $.get(
                    '{{ uri.base.path }}project/' + alias + '/labels-delete',
                    { name: name },
                    function (response) {
                        out.empty();
                        if (response.error) {
                            debug.html(response.error);
                        }
                        else if (!response.data.length) {
                            out.html('No labels found.');
                        }
                        else {
                            out.html(tmpl("tplLabels", response));
                        }
                    }
            );
        }

        /**
         * Calculate a contrast color (black or white)
         *
         * http://24ways.org/2010/calculating-color-contrast/
         *
         * @param hexcolor
         *
         * @since  1.0
         * @returns {string}
         */
        function getContrastYIQ(hexcolor){
            var r = parseInt(hexcolor.substr(0,2),16);
            var g = parseInt(hexcolor.substr(2,2),16);
            var b = parseInt(hexcolor.substr(4,2),16);
            var yiq = ((r * 299) + (g * 587) + (b * 114)) / 1000;
            return (yiq >= 128) ? 'black' : 'white';
        }
    </script>
{% endblock %}
