{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | Edit User{% endblock %}

{% block content %}
    {% import "fields.twig" as fields %}

    <div class="page-header">
        <h1>Edit user</h1>
    </div>

    <ul class="breadcrumb">
        <li>
            <a class="btn btn-primary" href="javascript:;" onclick="document.editForm.submit();">Save</a>
        </li>
        <li>
            <a class="btn btn-inverse" href="{{ uri.base.path }}account">Cancel</a>
        </li>
        <li class="pull-right">
            <a class="btn" href="{{ uri.base.path }}account/github-refresh">Refresh profile from GitHub</a>
        </li>
    </ul>

    <div class="row-fluid">
        <div class="span2">
            {{ avatar(item.username, 100) }}
        </div>
        <div class="span8">
            <h4>
                <i class="icon-github"></i> GitHub Profile
            </h4>
            <ul class="unstyled">
                <li><h2>{{ item.username }}</h2></li>
                {% if item.name %}
                    <li>{{ item.name }}</li>
                {% endif %}
                {% if item.email %}
                    <li>{{ item.email }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="span2">
            {% if jdebug %}
            <ul class="unstyled">
               <li><b>ID</b>: {{ item.id }}</li>
            </ul>
            {% endif %}
        </div>
    </div>

    <form method="post" action="{{ uri.base.path }}account/save" class="form-horizontal" name="editForm">
        <fieldset>
            <legend>Params</legend>

            <div class="control-group">
                <label class="control-label" for="short_title">Timezone</label>
                <div class="controls">
                    {{ fields.selectequal('item[params][timezone]', timezones(), item.params.timezone ? item.params.timezone : offset, 'timezone') }}
                </div>
            </div>

        </fieldset>
    </form>
{% endblock %}
