{# Copyright (C) 2012 - 2014 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block title %}{{ parent() }} | {{ "Edit user"|_ }}{% endblock %}

{% block content %}
    {% if 0 == item.id %}
        <div class="alert alert-error">
            <h4>{{ 'Invalid user!'|_ }}</h4>
        </div>
    {% else %}

    {% import "fields.twig" as fields %}

    <div class="page-header">
        <h1>{{ "Edit user"|_ }}</h1>
    </div>

    <ul class="breadcrumb">
        <li>
            <a class="btn btn-primary" href="javascript:;" onclick="document.editForm.submit();">
                {{ "Save"|_ }}
            </a>
        </li>
        <li>
            <a class="btn btn-inverse" href="{{ uri.base.path ~ 'user/' ~ item.id }}">
                {{ "Cancel"|_ }}
            </a>
        </li>
        <li class="pull-right">
            <a class="btn" href="{{ uri.base.path ~ 'user/' ~ item.id ~ '/refresh'}}">
                {{ "Refresh profile from GitHub"|_ }}
            </a>
        </li>
    </ul>

    <div class="row-fluid">
        <div class="span2">
            {{ avatar(item.username, 100)|raw }}
        </div>
        <div class="span8">
            <h4>
                <i class="icon-github"></i>
                {{ "GitHub Profile"|_ }}
            </h4>
            <ul class="unstyled">
                <li><h2>{{ item.username }}</h2></li>
                {% if item.name %}
                    <li>{{ item.name }}</li>
                {% endif %}
                {% if item.email %}
                    <li>{{ item.email }}</li>
                {% endif %}
            </ul>
        </div>
        <div class="span2">
            {% if jdebug %}
            <ul class="unstyled">
               <li><b>Id</b>: {{ item.id }}</li>
            </ul>
            {% endif %}
        </div>
    </div>

    <form method="post" action="/{{ uri.route ~ '-save' }}" class="form-horizontal" name="editForm">
        <fieldset>
            <legend>{{ "Params"|_ }}</legend>

            <div class="control-group">
                {{ fields.label('language', "Language"|_, 'control-label') }}
                <div class="controls">
                    {{ fields.selectequal('item[params][language]', languageCodes, item.params.language ? item.params.language : lang, 'language', 'input-small-100') }}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="short_title">{{ "Timezone"|_ }}</label>
                <div class="controls">
                    {{ fields.selectequal('item[params][timezone]', getTimezones(), item.params.timezone ? item.params.timezone : offset, 'timezone') }}
                </div>
            </div>

            <input type="hidden" name="item[id]" value="{{ item.id }}">

        </fieldset>
    </form>
    {% endif %}
{% endblock %}
