{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block content %}

    {% if 0 == item.id %}
        <h2>Sorry, we don't know this user...</h2>
    {% else %}
        {% if user.id == item.id %}
            <h1>{{ "My Profile"|_ }}</h1>
        {% else %}
            <h1>{{ "Profile"|_ }}</h1>
        {% endif %}

        <div class="row-fluid">
            <div class="span2">
                {{ avatar(item.username, 100)|raw }}
            </div>
            <div class="span5">
                <ul class="unstyled">
                    <li><h2>{{ item.username }}</h2></li>
                    {% if item.name %}
                        <li>{{ item.name }}</li>
                    {% endif %}
                    {% if item.email %}
                        <li>{{ item.email }}</li>
                    {% endif %}
                    {% if jdebug %}
                        <li><b>Id</b>: {{ item.id }}</li>
                    {% endif %}
                </ul>
            </div>
            <div class="span5">
                <ul class="unstyled">
                    <li>
                        <i class="icon-github"></i>
                        <a href="https://github.com/{{ item.username }}">{{ item.username }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>@todo add stuff ...</h2>

        ....here
    {% endif %}
{% endblock %}
