{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block content %}

    <h2>{{ "Users List"|_ }}</h2>

    <table class="table table-bordered table-hover">
        <tr>
            <th>Username</th>
            {% if user.isAdmin %}
                <th style="width: 10%">Actions</th>
            {% endif %}
            <th>ID</th>
        </tr>
        {% for u in items %}
            <tr>
                <td><a href="{{ uri.base.path }}user/{{ u.id }}">{{ u.username }}</a></td>

                {% if user.isAdmin %}
                    <td>Block...</td>
                {% endif %}
                <td>{{ u.id }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
